{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">


    {% if profile['PICTURE_ID'] == 0 %}
            <div class="mgs-mainblk-txt">
                  <img src="{{ path('main') }}img/nophoto.png" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
            </div>
    {% else %}
            <div class="mgs-mainblk-txt">
                  <img src="{{ moodle_url }}{{ profile['PIC_CONTEXT_ID'] }}/user/icon/boost/f3?rev={{ profile['PICTURE_ID'] }}" style="width:150px; height:150px; opacity: 1;" title="Photo" alt="Photo" class="uac-img-center img-profile">
            </div>
    {% endif %}


    <div class="user-title">
        {{ profile['FIRSTNAME'] }} {{ profile['LASTNAME'] }}
    </div>
    Donec nec euismod purus. Nam pretium dignissim ante nec dapibus. Mauris ut ex vitae felis condimentum lacinia ut eu ipsum. Phasellus est nibh, scelerisque sit amet tincidunt quis, varius quis arcu. Sed volutpat lectus at porttitor ullamcorper. Nam sit amet felis convallis, egestas neque eget, tristique leo. Curabitur quis magna et eros blandit scelerisque. Aliquam tempor ante id augue egestas sagittis. Suspendisse fermentum iaculis diam, nec rhoncus nisi dapibus nec. Suspendisse imperdiet libero in nisi molestie posuere. Aliquam et dolor diam. Integer a interdum nisi. Maecenas a vulputate nisi, ut tempor neque. Phasellus id tellus ut sem consequat porttitor. Maecenas eget bibendum urna.
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
