{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-4 mgs-mainblk-txt">
  </div>
  <div class="col-lg-4 mgs-mainblk-txt">


    {% if profile['PICTURE_ID'] == 0 %}
            <div id="blk-selfie" class="mgs-mainblk-txt">
                  <img id="selfie" src="{{ path('main') }}img/nophoto.png" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
            </div>
    {% else %}
            <div id="blk-selfie" class="mgs-mainblk-txt">
                  <img id="selfie" src="{{ path('main') }}img/mdl_data/{{ profile['D1'] }}/{{ profile['D2'] }}/{{ profile['FILENAME'] }}" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
            </div>
    {% endif %}


    <div class="user-title">
        {{ profile['FIRSTNAME'] }} {{ profile['LASTNAME'] }}
    </div>
    <hr>
    <div id="pr-assid" class="carte-profile">
      <div class="pr-title"><span class="icon-calendar-plus-o nav-icon-fa nav-text"></span>&nbsp;Assiduité</div>
      <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">Nous ne conservons que le scan le plus tôt de la journée concernée ainsi qu'un historique de 7 jours sauf pour les retards.</span><br><br>
      {% for assiduite in assiduites %}
          <i class='ass-ontime'><span class="icon-check-circle nav-icon-fa nav-text"></span>&nbsp;À l'heure: {{ assiduite['SCANDATE'] }}&nbsp;à&nbsp;{{ assiduite['SCANTIME'] }}</i><br>
      {% endfor %}


    </div>
  </div>
  <div class="col-lg-4 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
