{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}

{% if recap_assiduites is defined and recap_assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArray =JSON.parse('{{ recap_assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArray = new Array();
    </script>
{% endif %}

{% if assiduites is defined and assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayTrace =JSON.parse('{{ assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayTrace = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">ua-profile</div>

{% if from_admin != 'N' %}
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
          {% if from_admin == 'S' %}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/managerstu" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard étudiant</a>
          {% endif %}
          {% if from_admin == 'A' %}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/dashboardass" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard assiduité</a>
          {% endif %}

        </div>
        {% include 'Profile/_profilemenubutton.html.twig' %}
        <div class="col-8">
        </div>
      </div>
{% else %}
<div class="row">
  <div class="col-sm-1">
  </div>
  {% include 'Profile/_profilemenubutton.html.twig' %}
  <div class="col-sm-10">
  </div>
</div>
{% endif %}

{# ************************************ used to be class="container" ************************************ #}
<div class="container">
    <div class="row">
      <div class="col-1 mgs-mainblk-txt">
      </div>
      <div class="col-10 mgs-mainblk-txt">

        {# ************************************ PICTURE IS LOADED HERE ************************************ #}
        {% include 'Cartezp/_rawdisplayphoto.html.twig' %}


        <div class="user-title">
            {{ profile['FIRSTNAME']|capitalize }} {{ profile['LASTNAME'] }}
        </div>
        <div class="user-subtitle">
            {{ profile['SHORTCLASS'] }}
        </div>


        {% if from_admin == 'N' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
              {# Do something message #}
              <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Vérifiez que ces informations suivantes sont correctes.</div>
        {% endif %}
        <hr>
        <div class="card-parent">
              <div class="carte-profile blc-inline">
                <span class="icon-tag nav-icon-fa-sm nav-text"></span> {{ profile['USERNAME']|upper }} <br>
                <span class="icon-phone-square nav-icon-fa-sm nav-text"></span> {{ profile['PHONE'] }} <br>
                <span class="icon-ticket nav-icon-fa-sm nav-text"></span> {{ profile['MATRICULE'] }}
              </div>

              <div class="carte-profile blc-inline">
                <span class="icon-envelope-o nav-icon-fa-sm nav-text"></span> {{ profile['EMAIL']|lower }} <br>
                <span class="icon-envelope-square nav-icon-fa-sm nav-text"></span> {{ profile['ADDRESS']|slice(0, 30) }} <br>
                <span class="icon-thumb-tack nav-icon-fa-sm nav-text"></span> {{ profile['CITY']|upper }}
              </div>

              <div class="carte-profile blc-inline">

                <span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span> &nbsp;{{ profile['GENRE'] }}&nbsp;{{ profile['AGE'] }}ans, né{% if profile['GENRE'] == 'F' %}e{% endif %} le {{ profile['BIRTHDAY'] }}<br>
                <span class="icon-certificate nav-icon-fa-sm nav-text"></span> {{ profile['BAC'] }} <br>
                <span class="icon-medkit nav-icon-fa-sm nav-text"></span> {{ profile['PARENT_PHONE'] }}
              </div>
        </div>
        <hr>



        <div id="pr-assid" class="carte-profile">
          <div class="pr-title"><span class="icon-calendar-plus-o nav-icon-fa nav-text"></span>&nbsp;Assiduité : lignes de présence</div>
          {% if ((result_query_msg_ass[0]['PAR_VALUE'] == 'na') or (result_query_msg_ass[0]['PAR_VALUE'] == '')) %}
              <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">Les lignes de présence sont calculées plusieurs fois par jour. <br><a href="/reglassiduite">Voir le rappel sur l'assiduité</a>.</span><br><br>
          {% else %}
              {# We have a specific message #}
              <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">{{ result_query_msg_ass[0]['PAR_VALUE'] }}. <br><a href="/reglassiduite">Voir le rappel sur l'assiduité</a>.</span><br><br>
          {% endif %}

          {% if result_query_queued_ass[0]['QUEUED_ASS'] > 0 %}
              <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Des emplois du temps passés sont en attente. Les assiduités vont être recalculés cette nuit.</div>
          {% endif %}
          <div id="jsGrid">
          </div>


          <button type="button" id="edt-switch-in-out" class="btn btn-default btn-sm btn-block"><span class="icon-arrow-circle-down nav-icon-fa-sm nav-text"></span>&nbsp;Voir/cacher les entrées/sorties&nbsp;<span class="icon-arrow-circle-up nav-icon-fa-sm nav-text"></span></button>

          <div id="blc-trace-in-out">
            <br>
              <div id="jsGridTrace">
              </div>


          </div>


        </div>
      </div>
      <div class="col-1 mgs-mainblk-txt">
      </div>
    </div>
</div>
<hr>
<i id='anchor-edt'></i><br>
{% if sp_result|length > 1 %}



      {% include 'Admin/EDT/edtheader.html.twig' %}

      {% if from_admin == 'N' %}
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Si votre emploi du temps ne s'affiche pas bien, pensez à bien vider votre cache navigateur (Chrome, Safari, Firefox etc.). Nous vous invitons à aller sur Google pour trouver comment faire.</div>
                      <br>
                  </div>
              </div>
          </div>
      {% endif %}

      {# ROWSPAN Here !#}
      {# Responsivity is managed in the @media css when screen is big we do not display sm-version #}
      <div style="overflow-x: scroll; width: 100%;" class='uac-sm-version'>
          {% include 'Admin/EDT/_rawsmallscreenedtwrowspan.html.twig' %}
      </div>

      <div class='uac-lg-version'>
          {% include 'Admin/EDT/_rawlargescreenedtwrowspan.html.twig' %}
      </div>


      {# N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
        {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}

      <div class="container">
        <br><br>
        <div class="row">
          <div class="col-12">
              <a id="edt-disp-line" class="btn btn-outline-dark btn-md btn-block" href="#/" role="button"><span class="icon-medkit nav-text"></span>&nbsp;Problème d'affichage ?</a>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-10">
              <hr>
              {% if result_list_bdaymonth|length > 1 %}

                      {% set mbday_cpt = 0 %}
                      Ce mois-ci, la classe <strong>{{ profile['SHORTCLASS'] }}</strong> célèbre l'anniversaire de
                      {% for bdaymonth_line in result_list_bdaymonth %}
                          {% if mbday_cpt == 0 %}
                            :
                          {% else %}
                            /
                          {% endif %}
                          {{ bdaymonth_line['FNAMEBDAY'] }}
                          {% set mbday_cpt = mbday_cpt + 1 %}
                      {% endfor %}&nbsp;<span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span>

              {% else %}
                      <span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span>&nbsp;Ce mois-ci, malheureusement, il n'y a pas d'anniversaire dans la classe <strong>{{ profile['SHORTCLASS'] }}</strong>.
              {% endif %}
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>




      <div class='uac-bkp-version'>
        <br>
        <div class="container">
              <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    {% for line in resultsp_sm_bkp %}
                        {% if line['duration_hour'] > 0 %}
                            {% if line['course_status'] == 'C' %}
                                [Attention] Annulé :&nbsp;
                            {% elseif line['course_status'] == 'H' %}
                                [Attention] Hors site Manakambahiny :&nbsp;
                            {% elseif line['course_status'] == 'O' %}
                                [Attention] Option :&nbsp;
                            {% else %}
                              {# Do nothing #}
                            {% endif %}
                            {{ line['label_day_fr'] }}-{{ line['nday'] }}: début : {{ line['hour_starts_at'] }}h00<br>
                            {{ line['raw_course_title'] }}<br>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
      </div>
{% else %}
      {% include 'Admin/EDT/missingmsgedt.html.twig' %}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
          {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}
{% endif %}

{% include 'RawTemplate/_footer.w.jsgrid.html.twig' %}
