{% include 'RawTemplate/_hearder.html.twig' %}
<div id="mg-graph-identifier">ua-profile</div>
<div class="container">
    <div class="row">
      <div class="col-2 mgs-mainblk-txt">
      </div>
      <div class="col-8 mgs-mainblk-txt">


        {% if profile['PICTURE_ID'] == 0 %}
                <div id="blk-selfie" class="mgs-mainblk-txt">
                      <img id="selfie" src="{{ path('main') }}img/nophoto.png" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
                </div>
        {% else %}
                <div id="blk-selfie" class="mgs-mainblk-txt">
                      <img id="selfie" src="{{ path('main') }}img/mdl_data/{{ profile['D1'] }}/{{ profile['D2'] }}/{{ profile['FILENAME'] }}" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
                </div>
        {% endif %}


        <div class="user-title">
            {{ profile['FIRSTNAME'] }} {{ profile['LASTNAME'] }}
        </div>
        <hr>
        <div id="pr-assid" class="carte-profile">
          <div class="pr-title"><span class="icon-calendar-plus-o nav-icon-fa nav-text"></span>&nbsp;Assiduité</div>
          <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">Nous ne conservons que le scan le plus tôt de la journée concernée ainsi qu'un historique de 7 jours sauf pour les retards.</span><br><br>
          {% for assiduite in assiduites %}
              <i class='ass-ontime'><span class="icon-check-circle nav-icon-fa nav-text"></span>&nbsp;À l'heure: {{ assiduite['SCANDATE'] }}&nbsp;à&nbsp;{{ assiduite['SCANTIME'] }}</i><br>
          {% endfor %}



        </div>
      </div>
      <div class="col-2 mgs-mainblk-txt">
      </div>
    </div>
</div>
<hr>
{% if sp_result|length > 1 %}
      <div class="container">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8">
              <div class="carte-profile pr-title"><span class="icon-calendar nav-icon-fa nav-text"></span>&nbsp;Emploi du temps</div><br>
              <div class="info-cartouche">
                <strong>Mention:</strong> {{ sp_result[0]['mention'] }}<br>
                <strong>Niveau:</strong> {{ sp_result[0]['niveau'] }}<br>
                <strong>Option:</strong> {{ sp_result[0]['uaoption'] }}<br>
                <strong>Date du Lundi:</strong> {{ sp_result[0]['mondayw'] }}<br>
              </div>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
      <div class='uac-sm-version'>
          {% set resultsp_sm = week_p_one %}
          {% set day_1 = 'LUN' %}
          {% set day_2 = 'MAR' %}
          {% set day_3 = 'MER' %}
          {% include 'Admin/EDT/_rawsmallw1screenedt.html.twig' %}

          {% set resultsp_sm = week_p_two %}
          {% set day_1 = 'JEU' %}
          {% set day_2 = 'VEN' %}
          {% set day_3 = 'SAM' %}
          {% include 'Admin/EDT/_rawsmallw1screenedt.html.twig' %}
      </div>
      <div class='uac-lg-version'>
          {% include 'Admin/EDT/_rawlargescreenedt.html.twig' %}
      </div>


      {% include 'Profile/_navigationbutton.html.twig' %}
      <div class="container">
        <br><br>
        <div class="row">
          <div class="col-12">
              <a id="edt-disp-line" class="btn btn-outline-dark btn-md btn-block" href="#/" role="button"><span class="icon-medkit nav-text"></span>&nbsp;Problème d'affichage ?</a>
          </div>
        </div>
      </div>


      <div class='uac-bkp-version'>
        <br>
        <div class="container">
              <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    {% for line in resultsp_sm_bkp %}
                        {% if line['duration_hour'] > 0 %}
                            {{ line['label_day_fr'] }}-{{ line['nday'] }}: début : {{ line['hour_starts_at'] }}h00<br>
                            {{ line['raw_course_title'] }}<br>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
      </div>
{% else %}

      <div class="container">
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8">
              <div class="carte-profile pr-title"><span class="icon-calendar nav-icon-fa nav-text"></span>&nbsp;Emploi du temps</div><br>
              <div class="info-cartouche">
                <strong>Date du Lundi:</strong> {{ sp_result[0]['mondayw'] }}<br>
                <span class="icon-coffee nav-text"></span>&nbsp;Désolé ! L'emploi du temps pour cette semaine n'a pas encore été chargé.<br>
                Si vous pensez qu'il s'agit d'une erreur, n'hésitez pas à nous contacter.
              </div>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>
      {% include 'Profile/_navigationbutton.html.twig' %}

{% endif %}

{% include 'RawTemplate/_footer.html.twig' %}
