{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% set free_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
<i id='anchor-top'></i>
{% if recap_assiduites is defined and recap_assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';
    let dataTagToJsonArray =JSON.parse('{{ recap_assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArray = new Array();
    </script>
{% endif %}

{% if assiduites is defined and assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayTrace =JSON.parse('{{ assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayTrace = "";
    </script>
{% endif %}


{% if result_query_stat_ass is defined and result_query_stat_ass is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayStat =JSON.parse('{{ result_query_stat_ass | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayStat = "";
    </script>
{% endif %}



{# We handle here the JQ EDT #}
{% if sp_result is defined and sp_result is not null %}
    <script>
      const modeIsJQ = "{{ modeIsJQ }}";
      const PARAM_DOES_PAY_DISPLAY = "{{ param_does_pay_display }}";
      const PARAM_DOES_PAY_PUBLIC = "{{ param_does_pay_public }}";
      const FROM_ADMIN = "{{ from_admin }}";

      const formatterCurrency = new Intl.NumberFormat('fr-FR', {
        style: 'currency',
        currency: 'MGA'

        // These options are needed to round to whole numbers if that's what you want.
        //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      {% if modeIsJQ == 'Y' %}
          let dataLoadToJsonArray = JSON.parse('{{ sp_result | json_encode | raw }}');
          let myEDTArray = new Array();
          let myEDTRowSpanDebtArray = new Array();

          const refHours = ["7h-8h", "8h-9h", "9h-10h", "10h-11h", "11h-12h", "12h-13h", "13h-14h", "14h-15h", "15h-16h", "16h-17h", "17h-18h"];
          const refHoursStart = ["7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h"];
          const refHalfHoursStart = ["7h00", "7h30", "8h00", "8h30", "9h00", "9h30", "10h00", "10h30", "11h00", "11h30", "12h00", "12h30", "13h00", "13h30", "14h00", "14h30", "15h00", "15h30", "16h00", "16h30", "17h00", "17h30"];
          const refDays = ["&nbsp;", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];
          const refEnglishDay = ["&nbsp;", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];
          const refDayCode = ["0", "1", "2", "3", "4", "5", "6"];
          const classBackground = "edt-bg-free-{{ free_i }}";
          const maxRawCourseTitleLength = 800;
          const constRowHalfSize = 20;

          let invMondayStr = '{{ techInvMonday }}';

          let dateArray = new Array();
          let techDateArray = new Array();
      {% endif %}

      {% if param_does_pay_display == 'Y' %}
          let dataSumPerTrancheToJsonArray = JSON.parse('{{ resultSumPerTranche | json_encode | raw }}');
          let dataHistoPayToJsonArray = JSON.parse('{{ result_histo_pay | json_encode | raw }}');
      {% else %}
          let dataSumPerTrancheToJsonArray = new Array();
          let dataHistoPayToJsonArray = new Array();
      {% endif %}

      {% if (((from_admin == 'N') and (param_does_gra_public == 'Y'))
            or (param_does_gra_module == 'Y')) %}
              const PARAM_DISP_GRA = 'Y';
      {% else %}
              const PARAM_DISP_GRA = 'N';
      {% endif %}

    </script>
{% else %}
    <script>
      let dataLoadToJsonArray = null;
    </script>
{% endif %}


<div id="mg-graph-identifier">ua-profile</div>

<div class="row">
{% if from_admin != 'N' %}
        <div class="col-1">
        </div>
        {# N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard - P : Payment Manager #}
        <div class="col-2">
          {% if from_admin == 'S' %}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/managerstu" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard étudiant</a>
          {% elseif from_admin == 'A' %}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/dashboardass" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard assiduité</a>
          {% else %}
            {# Must be P #}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/managerpay" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Manager paiement</a>
          {% endif %}
        </div>
{% else %}
        <div class="col-3">
        </div>
{% endif %}
  {# Display here the shortcut to the page here #}
  {% include 'Profile/_profilemenubutton.html.twig' %}
</div>

{# ************************************ used to be class="container" ************************************ #}
<div class="container">
    <div class="row">
      <div class="col-1 mgs-mainblk-txt">
      </div>
      <div class="col-10 mgs-mainblk-txt">

        {# ************************************ PICTURE IS LOADED HERE ************************************ #}
        {% include 'Cartezp/_rawdisplayphoto.html.twig' %}


        <div class="user-title">
            {{ profile['FIRSTNAME']|capitalize }} {{ profile['LASTNAME'] }}
        </div>
        <div class="user-subtitle">
            {{ profile['SHORTCLASS'] }}
        </div>


        {% if from_admin == 'N' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
              {# Do something message #}
              <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Vérifiez que ces informations suivantes sont correctes.</div>
        {% endif %}
        <hr>
        <div class="card-parent">
              <div class="carte-profile blc-inline">
                <span class="icon-tag nav-icon-fa-sm nav-text"></span> {{ profile['USERNAME']|upper }} <br>
                <span class="icon-phone-square nav-icon-fa-sm nav-text"></span> {{ profile['PHONE'] }} <br>
                <span class="icon-ticket nav-icon-fa-sm nav-text"></span> {{ profile['MATRICULE'] }}
              </div>

              <div class="carte-profile blc-inline">
                <span class="icon-envelope-o nav-icon-fa-sm nav-text"></span> {{ profile['EMAIL']|lower }} <br>
                <span class="icon-envelope-square nav-icon-fa-sm nav-text"></span> {{ profile['ADDRESS']|slice(0, 30) }} <br>
                <span class="icon-thumb-tack nav-icon-fa-sm nav-text"></span> {{ profile['CITY']|upper }}
              </div>

              <div class="carte-profile blc-inline">

                <span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span> &nbsp;{{ profile['GENRE'] }}&nbsp;{{ profile['AGE'] }}ans, né{% if profile['GENRE'] == 'F' %}e{% endif %} le {{ profile['BIRTHDAY'] }}<br>
                <span class="icon-certificate nav-icon-fa-sm nav-text"></span> {{ profile['BAC'] }} <br>
                <span class="icon-medkit nav-icon-fa-sm nav-text"></span> {{ profile['PARENT_PHONE'] }}
              </div>
        </div>
        {% if from_admin == 'S' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
        <div class="disp-link carte-profile card-parent">
            <span class="icon-key-1 nav-icon-fa-sm nav-text"></span>&nbsp;{{ current_url }}/profile/{{ profile['PAGE'] }}
        </div>
        {% endif %}
        <hr>

        {# Display message if we have one #}
        {% if ((result_query_msg_ass[0]['PAR_VALUE'] == 'na') or (result_query_msg_ass[0]['PAR_VALUE'] == '')) %}
            {# We do nothing #}
        {% else %}
            {# We have a specific message #}
            <div class="dash-info">
              <i class="icon-info-circle nav-text"></i>&nbsp Notes d'information : {{ result_query_msg_ass[0]['PAR_VALUE'] }}
            </div>
        {% endif %}



        <div id="pr-assid" class="carte-profile">
          <div class="pr-title"><span class="icon-calendar-plus-o nav-icon-fa nav-text"></span>&nbsp;Assiduité : lignes de présence</div>

          <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">Les lignes de présence sont calculées plusieurs fois par jour. <br><a href="/reglassiduite">Voir le rappel sur l'assiduité</a>.</span><br><br>

          {% if result_query_queued_ass[0]['QUEUED_ASS'] > 0 %}
              <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Des emplois du temps passés sont en attente. Les assiduités vont être recalculés cette nuit.</div>
          {% endif %}
          <div id="jsGrid">
          </div>


          <button type="button" id="edt-switch-in-out" class="btn btn-default btn-sm btn-block"><span class="icon-arrow-circle-down nav-icon-fa-sm nav-text"></span>&nbsp;Voir/cacher les entrées/sorties&nbsp;<span class="icon-arrow-circle-up nav-icon-fa-sm nav-text"></span></button>

          <div id="blc-trace-in-out">
            <br>
              <div id="jsGridTrace">
              </div>


          </div>
          <br>
          <div class="pr-title"><span class="icon-bar-chart nav-icon-fa nav-text"></span>&nbsp;Assiduité : statistiques</div>
          
          <div  class="mgs-note-warnprof">
            <span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Les statistiques se font par rapport à votre classe à partir de votre date d'inscription.
            {% if result_query_stat_ass|length > 0 %}
              &nbsp;Nombre d'étudiants dans la classe : {{ result_query_stat_ass[0]['CLS_COUNT'] }}.
            {% endif %}
          </div>
          <br><span class="mgs-ace-note"><a href="/reglassiduite">Voir le rappel sur l'assiduité</a>.</span><br><br>
          <div id="blc-ass-stt">
            <br>
              <div id="jsGridStatAss">
              </div>


          </div>


        </div>
      </div>
      <div class="col-1 mgs-mainblk-txt">
      </div>
    </div>
</div>
<hr>
<i id='anchor-edt'></i><br>
{% if sp_result|length > 0 %}

    {% if sp_result[0]['mention'] != null %}
          {# We have data #}
          {# For both mode JQ or not mention is always retrieve by result #}
          {% include 'Admin/EDT/edtheader.html.twig' %}

          {% if from_admin == 'N' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Si votre emploi du temps ne s'affiche pas bien, pensez à bien vider votre cache navigateur (Chrome, Safari, Firefox etc.). Nous vous invitons à aller sur Google pour trouver comment faire.</div>
                          <br>
                      </div>
                  </div>
              </div>
          {% endif %}

          {% if modeIsJQ == 'N' %}
              {# We are doing the old school #}

              {# ROWSPAN Here !#}
              {# Responsivity is managed in the @media css when screen is big we do not display sm-version #}
              <div style="overflow-x: scroll; width: 100%;" class='uac-sm-version'>
                  {% include 'Admin/EDT/_rawsmallscreenedtwrowspan.html.twig' %}
              </div>

              <div class='uac-lg-version'>
                  {% include 'Admin/EDT/_rawlargescreenedtwrowspan.html.twig' %}
              </div>
          {% else %}
            
                <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <hr>
                        <div  style="overflow-x: scroll; width: 100%;" class='uac-jqedt-version'>
                            <div id="main-edt">
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

          {% endif %}


          {# N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
          {% if from_admin == 'N' %}
              {# For now navigation is possible only for profile #}
              {# This may change #}
            {% include 'Profile/_navigationbutton.html.twig' %}
          {% endif %}

          <div class="container">
            <br><br>
            <div class="row">
              <div class="col-12">
                  <a id="edt-disp-line" class="btn btn-outline-dark btn-md btn-block" href="#/" role="button"><span class="icon-medkit nav-text"></span>&nbsp;Problème d'affichage ?</a>
              </div>
            </div>
          </div>


          <div class="container">
            <div class="row">
              <div class="col-1">
              </div>
              <div class="col-10">
                  <hr>
                  {% if result_list_bdaymonth|length > 1 %}

                          {% set mbday_cpt = 0 %}
                          Ce mois-ci, la classe <strong>{{ profile['SHORTCLASS'] }}</strong> célèbre l'anniversaire de
                          {% for bdaymonth_line in result_list_bdaymonth %}
                              {% if mbday_cpt == 0 %}
                                :
                              {% else %}
                                /
                              {% endif %}
                              {{ bdaymonth_line['FNAMEBDAY'] }}
                              {% set mbday_cpt = mbday_cpt + 1 %}
                          {% endfor %}&nbsp;<span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span>

                  {% else %}
                          <span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span>&nbsp;Ce mois-ci, malheureusement, il n'y a pas d'anniversaire dans la classe <strong>{{ profile['SHORTCLASS'] }}</strong>.
                  {% endif %}
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>




          <div class='uac-bkp-version'>
            <br>
            <div class="container">
                  <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                      {% if modeIsJQ == 'N' %}
                                {% for line in resultsp_sm_bkp %}
                                    {% if line['duration_hour'] > 0 %}
                                        {% if line['course_status'] == 'C' %}
                                            [Attention] Annulé :&nbsp;
                                        {% elseif line['course_status'] == 'H' %}
                                            [Attention] Hors site Manakambahiny :&nbsp;
                                        {% elseif line['course_status'] == 'O' %}
                                            Option :&nbsp;
                                        {% else %}
                                          {# Do nothing #}
                                        {% endif %}
                                        {{ line['label_day_fr'] }}-{{ line['nday'] }}: début : {{ line['hour_starts_at'] }}h00<br>
                                        {{ line['raw_course_title'] }}<br>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                        {% else %}
                                {% for line in resultsp_sm_bkp %}
                                    {% if line['uel_shift_duration'] > 0 %}
                                        {% if line['course_status'] == 'C' %}
                                            [Attention] Annulé :&nbsp;
                                        {% elseif line['course_status'] == 'H' %}
                                            [Attention] Hors site Manakambahiny :&nbsp;
                                        {% elseif line['course_status'] == 'O' %}
                                            Option :&nbsp;
                                        {% else %}
                                          {# Do nothing #}
                                        {% endif %}
                                        {{ line['label_day_fr'] }}-{{ line['nday'] }} - début : {{ line['uel_start_time'] }} fin : {{ line['uel_end_time'] }}<br>
                                        {{ line['raw_course_title'] }}<br>
                                        <strong>Salle {{ line['urr_name'] }}</strong><br>
                                        {{ line['teacher_name'] }}<br>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-1">
                    </div>
                  </div>
                </div>
          </div>
    {% else %}
      {# We retrieve only one line empty #}
      {% include 'Admin/EDT/missingmsgedt.html.twig' %}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
          {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}

    {% endif %}
{% else %}
      {# We retrieve only no line #}
      {% include 'Admin/EDT/missingmsgedt.html.twig' %}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
          {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}
{% endif %}



{# param_does_pay_public #}


{% if param_does_pay_display == 'Y' %}
            {% if from_admin != 'N' %}
                    {# We are not public dashboard so we check if module is available #}
                    {% include 'Profile/_paymentblock.html.twig' %}
            {% else %}
                    {# We are public dashboard so we have to check several value #}
                    {% if param_does_pay_public == 'Y' %}
                              {% include 'Profile/_paymentblock.html.twig' %}
                    {% endif %}
            {% endif %}
{% endif %}

{% if (((from_admin == 'N') and (param_does_gra_public == 'Y'))
            or (param_does_gra_module == 'Y')) %}
              {% include 'Profile/_gradeblock.html.twig' %}
{% endif %}

{% include 'RawTemplate/SPE/_footeredtpublic.html.twig' %}
