{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% set free_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
<i id='anchor-top'></i>
{% if recap_assiduites is defined and recap_assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';
    let dataTagToJsonArray =JSON.parse('{{ recap_assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArray = new Array();
    </script>
{% endif %}

{% if assiduites is defined and assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayTrace =JSON.parse('{{ assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayTrace = "";
    </script>
{% endif %}


{% if result_query_stat_ass is defined and result_query_stat_ass is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayStat =JSON.parse('{{ result_query_stat_ass | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayStat = "";
    </script>
{% endif %}



{# We handle here the JQ EDT #}
{% if sp_result is defined and sp_result is not null %}
    <script>
      const UNCHANGED_VALUE = 'NA';

      const modeIsJQ = "{{ modeIsJQ }}";
      const PARAM_DOES_PAY_DISPLAY = "{{ param_does_pay_display }}";
      const PARAM_DOES_PAY_PUBLIC = "{{ param_does_pay_public }}";
      const FROM_ADMIN = "{{ from_admin }}";
      const CURRENT_AGENT_ID_STR = "{{ agent_id }}";
      const GET_TOKEN = '{{ result_get_token }}';
      const WRITE_ACCESS = '{{ write_access }}';
      const GENDER_H_F = '{{ profile['GENRE'] }}';

      const MAX_NOTE_LENGTH = 230;

      const FOUND_USERNAME = '{{ profile['USERNAME']|upper }}';
      const FOUND_USER_ID = '{{ profile['ID'] }}';


      const DATA_GET_ALL_MENTION_ToJsonArray = JSON.parse('{{ result_query_get_all_mention | json_encode | raw }}');
      const DATA_GET_ALL_CLASS_ToJsonArray = JSON.parse('{{ result_query_get_all_classes | json_encode | raw }}');
      const PROFILE_ToJsonArray = JSON.parse('{{ profile | json_encode | raw }}');

      
      let tempClasseID = {{ profile['COHORT_ID'] }};
      let tempClasseIDCONST = {{ profile['COHORT_ID'] }};

      let tempMentionCode = UNCHANGED_VALUE;
      let tempClasse = UNCHANGED_VALUE;


      let invModifyLastname = "{{ profile['LASTNAME'] }}";
      let invModifyLastnameCONST = "{{ profile['LASTNAME'] }}";

      let invModifyFirstname = "{{ profile['FIRSTNAME']|capitalize }}";
      let invModifyFirstnameCONST = "{{ profile['FIRSTNAME']|capitalize }}";

      let invModifyOtherFirstname = "{{ profile['OTHER_FIRSTNAME']|capitalize }}";
      let invModifyOtherFirstnameCONST = "{{ profile['OTHER_FIRSTNAME']|capitalize }}";

      let invModifyMatricule = "{{ profile['MATRICULE'] }}";
      let invModifyMatriculeCONST = "{{ profile['MATRICULE'] }}";

      let invModifyTelStu = "{{ profile['PHONE'] }}";
      let invModifyTelStuCONST = "{{ profile['PHONE'] }}";

      let invModifyTelPar1 = "{{ profile['PARENT_PHONE'] }}";
      let invModifyTelPar1CONST = "{{ profile['PARENT_PHONE'] }}";

      let invModifyTelPar2 = "{{ profile['PARENT_ALT_PHONE'] }}";
      let invModifyTelPar2CONST = "{{ profile['PARENT_ALT_PHONE'] }}";

      {% if result_query_user_ass_info|length > 0 %}
          let invModifyLivingConfiguration = "{{ result_query_user_ass_info[0]['living_configuration'] }}";
          let invModifyLivingConfigurationCONST = "{{ result_query_user_ass_info[0]['living_configuration'] }}";

          let invModifyNoteOfStu = "{{ result_query_user_ass_info[0]['assiduite_info'] }}";
          let invModifyNoteOfStuCONST = "{{ result_query_user_ass_info[0]['assiduite_info'] }}";
      {% else %}
          let invModifyLivingConfiguration = "F";
          let invModifyLivingConfigurationCONST = "F";

          let invModifyNoteOfStu = "";
          let invModifyNoteOfStuCONST = "";
      {% endif %}


      
       
      
      
      
      
      
      
      
  
      const formatterCurrency = new Intl.NumberFormat('fr-FR', {
        style: 'currency',
        currency: 'MGA'

        // These options are needed to round to whole numbers if that's what you want.
        //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      {% if modeIsJQ == 'Y' %}
          let dataLoadToJsonArray = JSON.parse('{{ sp_result | json_encode | raw }}');
          let myEDTArray = new Array();
          let myEDTRowSpanDebtArray = new Array();

          const refHours = ["7h-8h", "8h-9h", "9h-10h", "10h-11h", "11h-12h", "12h-13h", "13h-14h", "14h-15h", "15h-16h", "16h-17h", "17h-18h"];
          const refHoursStart = ["7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h"];
          const refHalfHoursStart = ["7h00", "7h30", "8h00", "8h30", "9h00", "9h30", "10h00", "10h30", "11h00", "11h30", "12h00", "12h30", "13h00", "13h30", "14h00", "14h30", "15h00", "15h30", "16h00", "16h30", "17h00", "17h30"];
          const refDays = ["&nbsp;", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];
          const refEnglishDay = ["&nbsp;", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];
          const refDayCode = ["0", "1", "2", "3", "4", "5", "6"];
          const classBackground = "edt-bg-free-{{ free_i }}";
          const maxRawCourseTitleLength = 800;
          const constRowHalfSize = 20;

          let invMondayStr = '{{ techInvMonday }}';

          let dateArray = new Array();
          let techDateArray = new Array();
      {% endif %}

      {% if param_does_pay_display == 'Y' %}
          let dataSumPerTrancheToJsonArray = JSON.parse('{{ resultSumPerTranche | json_encode | raw }}');
          let dataHistoPayToJsonArray = JSON.parse('{{ result_histo_pay | json_encode | raw }}');
      {% else %}
          let dataSumPerTrancheToJsonArray = new Array();
          let dataHistoPayToJsonArray = new Array();
      {% endif %}


      let paramDispGraPublic = 'N';
      let dataAllGradeToJsonArray = new Array();
      {# We check the student dashboard #}
      {% if ((from_admin == 'N') and (param_does_gra_public == 'Y')) %}
              paramDispGraPublic = 'Y';
              dataAllGradeToJsonArray = JSON.parse('{{ result_query_all_grade | json_encode | raw }}');
      {% endif %}


      let paramDispGraAdmin = 'N';
      {# We check the from admin - we consider dataAllGradeToJsonArray is already created #}
      {% if ((from_admin != 'N') and (param_does_gra_module == 'Y')) %}
              paramDispGraAdmin = 'Y';
              dataAllGradeToJsonArray = JSON.parse('{{ result_query_all_grade | json_encode | raw }}');
      {% endif %}

    </script>
{% else %}
    <script>
      let dataLoadToJsonArray = null;
    </script>
{% endif %}


<div id="mg-graph-identifier">ua-profile</div>

<div class="row">
{% if from_admin != 'N' %}
        <div class="col-1">
        </div>
        {# N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard - P : Payment Manager #}
        <div class="col-2">
          {% if from_admin == 'S' %}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/managerstu" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard étudiant</a>
          {% elseif from_admin == 'A' %}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/dashboardass" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard assiduité</a>
          {% else %}
            {# Must be P #}
              <a class="btn btn-outline-dark btn-sm btn-block" href="/managerpay" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Manager paiement</a>
          {% endif %}
        </div>
{% else %}
        <div class="col-3">
        </div>
{% endif %}
  {# Display here the shortcut to the page here #}
  {% include 'Profile/_profilemenubutton.html.twig' %}
</div>

{# ************************************ used to be class="container" ************************************ #}
<div class="container">
    <div class="row">
      <div class="col-1 mgs-mainblk-txt">
      </div>
      <div class="col-10 mgs-mainblk-txt">

        {# ************************************ PICTURE IS LOADED HERE ************************************ #}
        {% include 'Cartezp/_rawdisplayphoto.html.twig' %}


        <div class="user-title">
            <i id="stpf-firstname" class="nrm-txt">{{ profile['FIRSTNAME']|capitalize }}</i> <i id="stpf-lastname" class="nrm-txt">{{ profile['LASTNAME'] }}</i>
        </div>
        <div class="user-subtitle">
            <i id="stpf-shortclasse" class="nrm-txt">{{ profile['SHORTCLASS'] }}</i>
        </div>

        

        {% if from_admin == 'N' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
              {# Do something message #}
              <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Vérifiez que ces informations suivantes sont correctes. Votre nom, prénom, classe et les informations en bleues peuvent être modifiées à la scolarité.</div>
        {% endif %}
        <hr>
        <div class="card-parent">
              <div class="carte-profile blc-inline">
                <span class="carte-noedit icon-tag nav-icon-fa-sm nav-text"></span><i class="carte-noedit nrm-txt"> {{ profile['USERNAME']|upper }} </i><br>
                <span class="icon-phone-square nav-icon-fa-sm nav-text"></span>
                {% if profile['PHONE'] is not null %} 
                    <i id="stpf-telstu" class="nrm-txt">{{ profile['PHONE']|slice(0, 3) }} {{ profile['PHONE']|slice(3, 2) }} {{ profile['PHONE']|slice(5, 2) }} {{ profile['PHONE']|slice(7, 3) }}</i>
                {% endif %}<br>
                <span class="icon-ticket nav-icon-fa-sm nav-text"></span> <i id="stpf-matricule" class="nrm-txt">{{ profile['MATRICULE'] }} </i><br>
                {% if ((profile['OTHER_FIRSTNAME'] is not null) and (profile['OTHER_FIRSTNAME']|length > 0)) %} 
                    <i id="stpf-othfirstname" class="nrm-txt"><span class="icon-id-card nav-icon-fa-sm nav-text"></span>&nbsp;{{ profile['OTHER_FIRSTNAME']|upper|slice(0, 30) }}</i>
                {% else %}
                  <i id="stpf-othfirstname" class="nrm-txt">&nbsp;</i>
                {% endif %}
              </div> 

              <div class="carte-profile blc-inline">
                <span class="carte-noedit icon-envelope-o nav-icon-fa-sm nav-text"></span><i class="carte-noedit nrm-txt"> {{ profile['EMAIL']|slice(0, 35)|lower }}  </i><br>
                <span class="carte-noedit icon-envelope-square nav-icon-fa-sm nav-text"></span><i class="carte-noedit nrm-txt"> {{ profile['ADDRESS']|slice(0, 30) }}  </i><br>
                <span class="carte-noedit icon-thumb-tack nav-icon-fa-sm nav-text"></span><i class="carte-noedit nrm-txt"> {{ profile['CITY']|upper }}  </i><br>
                {% if result_query_user_ass_info|length > 0 %} 
                  {% if (result_query_user_ass_info[0]['living_configuration'] == 'F') %} 
                      <span class="icon-group-half nav-icon-fa-sm nav-text"></span>&nbsp;<i id="stpf-livingconf" class="nrm-txt">Vit en famille</i>
                  {% elseif (result_query_user_ass_info[0]['living_configuration'] == 'C') %}
                      <span class="icon-group-half nav-icon-fa-sm nav-text"></span>&nbsp;<i id="stpf-livingconf" class="nrm-txt">Vit en colocation</i>
                  {% else %}
                      <span class="icon-group-half nav-icon-fa-sm nav-text"></span>&nbsp;<i id="stpf-livingconf" class="nrm-txt">Vit seul{% if profile['GENRE'] == 'F' %}e{% endif %}</i>
                  {% endif %}
                {% else %}
                  {# Default case #}
                  <span class="icon-group-half nav-icon-fa-sm nav-text"></span>&nbsp;<i id="stpf-livingconf" class="nrm-txt">Vit en famille</i>
                {% endif %}
              </div>

              <div class="carte-profile blc-inline">

                <span class="carte-noedit icon-birthday-cake nav-icon-fa-sm nav-text"></span><i class="carte-noedit nrm-txt">  &nbsp;{{ profile['GENRE'] }}{{ profile['AGE'] }} né{% if profile['GENRE'] == 'F' %}e{% endif %} le {{ profile['BIRTHDAY'] }} {{ profile['PL_BIRTH']|slice(0, 14) }}{% if profile['PL_BIRTH']|length > 14 %}[...]{% endif %}</i><br>
                <span class="carte-noedit icon-certificate nav-icon-fa-sm nav-text"></span><i class="carte-noedit nrm-txt">  {{ profile['BAC'] }} </i><br>
                <span class="icon-medkit nav-icon-fa-sm nav-text"></span>&nbsp;
                {% if profile['PARENT_PHONE'] is not null %} 
                    <i id="stpf-telpar1" class="nrm-txt">{{ profile['PARENT_PHONE']|slice(0, 3) }} {{ profile['PARENT_PHONE']|slice(3, 2) }} {{ profile['PARENT_PHONE']|slice(5, 2) }} {{ profile['PARENT_PHONE']|slice(7, 3) }}</i>
                {% endif %}<br>
                {% if ((profile['PARENT_ALT_PHONE'] is not null) and (profile['PARENT_ALT_PHONE']|length > 0)) %} 
                    <i id="stpf-telpar2" class="nrm-txt"><span class="icon-medkit nav-icon-fa-sm nav-text"></span>&nbsp;
                    {{ profile['PARENT_ALT_PHONE']|slice(0, 3) }} {{ profile['PARENT_ALT_PHONE']|slice(3, 2) }} {{ profile['PARENT_ALT_PHONE']|slice(5, 2) }} {{ profile['PARENT_ALT_PHONE']|slice(7, 3) }}</i>
                {% else %}
                    <i id="stpf-telpar2" class="nrm-txt">&nbsp;</i>
                {% endif %}
              </div>
        </div>


        {# ################################ #}
        {# ################################ #}
        {# ################################ #}
        {# PARAM FDS TO BE DISPLAYED OR NOT #}
        {# ################################ #}
        {# ################################ #}
        {# ################################ #}
        {% if param_does_pay_display == 'Y' %}
                    {% if from_admin != 'N' %}
                            {# We are not public dashboard so we check if module is available #}
                            {% include 'Profile/_paymentblocklinesumup.html.twig' %}
                    {% else %}
                            {# We are public dashboard so we have to check several value #}
                            {% if param_does_pay_public == 'Y' %}
                                      {% include 'Profile/_paymentblocklinesumup.html.twig' %}
                            {% endif %}
                    {% endif %}
        {% endif %}

        

        {% if from_admin == 'S' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
        <div class="disp-link carte-profile card-parent">
            <span class="icon-key-1 nav-icon-fa-sm nav-text"></span>&nbsp;{{ current_url }}/profile/{{ profile['PAGE'] }}
        </div>
        {% endif %}

        {% if write_access == 'Y' %}
            <div class="row prof-modify">
              <div class="col-3">
              </div>
              <div class="col-6">
                <button type="button" onclick="modifyProfile()" class="btn btn-outline-dark btn-md btn-block"><i class="icon-pencil-square-o"></i>&nbsp;Modifier</button>
              </div>
              <div class="col-3">
              </div>
            </div>
        {% endif %}
        <hr>

        {# Display message if we have one #}
        {% if ((result_query_msg_ass[0]['PAR_VALUE'] == 'na') or (result_query_msg_ass[0]['PAR_VALUE'] == '')) %}
            {# We do nothing #}
        {% else %}
            {# We have a specific message #}
            <div class="dash-info">
              <i class="icon-info-circle nav-text"></i>&nbsp Notes d'information : {{ result_query_msg_ass[0]['PAR_VALUE'] }}
            </div>
        {% endif %}



        <div id="pr-assid" class="carte-profile">
          <div class="pr-title"><span class="icon-calendar-plus-o nav-icon-fa nav-text"></span>&nbsp;Assiduité : lignes de présence</div>

          <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">Les lignes de présence sont calculées plusieurs fois par jour. <br><a href="/reglassiduite">Voir le rappel sur l'assiduité</a>.</span><br><br>

          {% if result_query_queued_ass[0]['QUEUED_ASS'] > 0 %}
              <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Des emplois du temps passés sont en attente. Les assiduités vont être recalculés cette nuit.</div>
          {% endif %}
          <div id="jsGrid">
          </div>


          <button type="button" id="edt-switch-in-out" class="btn btn-default btn-sm btn-block"><span class="icon-arrow-circle-down nav-icon-fa-sm nav-text"></span>&nbsp;Voir/cacher les entrées/sorties&nbsp;<span class="icon-arrow-circle-up nav-icon-fa-sm nav-text"></span></button>

          <div id="blc-trace-in-out">
            <br>
              <div id="jsGridTrace">
              </div>


          </div>
          <br>
          <div class="pr-title"><span class="icon-bar-chart nav-icon-fa nav-text"></span>&nbsp;Assiduité : statistiques</div>
          
          <div class="edt-status-gray nrm-txt"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Remarque concernant l'étudiant</div>
          <div id='stpf-noteass' class="mgs-note-nopad nrm-txt">
            {% if result_query_user_ass_info|length > 0 %} 
              {% if (result_query_user_ass_info[0]['assiduite_info']|length > 0) %}
                  {{ result_query_user_ass_info[0]['assiduite_info'] }}
              {% else %}
                  NA
              {% endif %}
            {% else %}
                  NA
            {% endif %}
          </div>

          <div  class="mgs-note-warnprof">
            Les statistiques se font par rapport à votre classe à partir de votre date d'inscription.
            {% if result_query_stat_ass|length > 0 %}
              &nbsp;Nombre d'étudiants dans la classe : {{ result_query_stat_ass[0]['CLS_COUNT'] }}.
            {% endif %}
          </div>
          <br><span class="mgs-ace-note"><a href="/reglassiduite">Voir le rappel sur l'assiduité</a>.</span><br><br>
          <div id="blc-ass-stt">
            <br>
              <div id="jsGridStatAss">
              </div>


          </div>


        </div>
      </div>
      <div class="col-1 mgs-mainblk-txt">
      </div>
    </div>
</div>
<hr>
<i id='anchor-edt'></i><br>
{% if sp_result|length > 0 %}

    {% if sp_result[0]['mention'] != null %}
          {# We have data #}
          {# For both mode JQ or not mention is always retrieve by result #}
          {% include 'Admin/EDT/edtheader.html.twig' %}

          {% if from_admin == 'N' %}
              {# from_admin N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <div  class="mgs-note-warnprof"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Si votre emploi du temps ne s'affiche pas bien, pensez à bien vider votre cache navigateur (Chrome, Safari, Firefox etc.). Nous vous invitons à aller sur Google pour trouver comment faire.</div>
                          <div  class="mgs-note-red-w"><span class="icon-exclamation-triangle nav-icon-fa-sm nav-text"></span>&nbsp;Pour participer aux sessions de RATTRAPAGE, le reçu d'écolage est obligatoire.</div>
                          <br>
                      </div>
                  </div>
              </div>
          {% endif %}

          {% if modeIsJQ == 'N' %}
              {# We are doing the old school #}

              {# ROWSPAN Here !#}
              {# Responsivity is managed in the @media css when screen is big we do not display sm-version #}
              <div style="overflow-x: scroll; width: 100%;" class='uac-sm-version'>
                  {% include 'Admin/EDT/_rawsmallscreenedtwrowspan.html.twig' %}
              </div>

              <div class='uac-lg-version'>
                  {% include 'Admin/EDT/_rawlargescreenedtwrowspan.html.twig' %}
              </div>
          {% else %}
            
                <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <hr>
                        <div id='edt-ttl'>
                        </div>
                        <div  style="overflow-x: scroll; width: 100%;" class='uac-jqedt-version'>
                            <div id="main-edt">
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

          {% endif %}


          {# N : default No - S : Student from Manager Etudiant - A : Assiduite from Dashboard Retard #}
          {% if from_admin == 'N' %}
              {# For now navigation is possible only for profile #}
              {# This may change #}
            {% include 'Profile/_navigationbutton.html.twig' %}
          {% endif %}

          

          <div class="container">
            <br><br>
            <div class="row">
              <div class="col-12">
                  <a id="edt-disp-line" class="btn btn-outline-dark btn-md btn-block" href="#/" role="button"><span class="icon-medkit nav-text"></span>&nbsp;Problème d'affichage ?</a>
              </div>
            </div>
          </div>


          <div class="container">
            <div class="row">
              <div class="col-1">
              </div>
              <div class="col-10">
                  <hr>
                  {% if result_list_bdaymonth|length > 1 %}

                          {% set mbday_cpt = 0 %}
                          Ce mois-ci, la classe <strong>{{ profile['SHORTCLASS'] }}</strong> célèbre l'anniversaire de
                          {% for bdaymonth_line in result_list_bdaymonth %}
                              {% if mbday_cpt == 0 %}
                                :
                              {% else %}
                                /
                              {% endif %}
                              {{ bdaymonth_line['FNAMEBDAY'] }}
                              {% set mbday_cpt = mbday_cpt + 1 %}
                          {% endfor %}&nbsp;<span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span>

                  {% else %}
                          <span class="icon-birthday-cake nav-icon-fa-sm nav-text"></span>&nbsp;Ce mois-ci, malheureusement, il n'y a pas d'anniversaire dans la classe <strong>{{ profile['SHORTCLASS'] }}</strong>.
                  {% endif %}
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>

          


          <div class='uac-bkp-version'>
            <br>
            <div class="container">
                  <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
                      {% if modeIsJQ == 'N' %}
                                {% for line in resultsp_sm_bkp %}
                                    {% if line['duration_hour'] > 0 %}
                                        {% if line['course_status'] == 'C' %}
                                            [Attention] Annulé :&nbsp;
                                        {% elseif line['course_status'] == 'H' %}
                                            [Attention] Hors site Manakambahiny :&nbsp;
                                        {% elseif line['course_status'] == 'O' %}
                                            Option :&nbsp;
                                        {% else %}
                                          {# Do nothing #}
                                        {% endif %}
                                        {{ line['label_day_fr'] }}-{{ line['nday'] }}: début : {{ line['hour_starts_at'] }}h00<br>
                                        {{ line['raw_course_title'] }}<br>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                        {% else %}
                                {% for line in resultsp_sm_bkp %}
                                    {% if line['uel_shift_duration'] > 0 %}
                                        {% if line['course_status'] == 'C' %}
                                            [Attention] Annulé :&nbsp;
                                        {% elseif line['course_status'] == 'H' %}
                                            [Attention] Hors site Manakambahiny :&nbsp;
                                        {% elseif line['course_status'] == 'O' %}
                                            Option :&nbsp;
                                        {% else %}
                                          {# Do nothing #}
                                        {% endif %}
                                        {{ line['label_day_fr'] }}-{{ line['nday'] }} - début : {{ line['uel_start_time'] }} fin : {{ line['uel_end_time'] }}<br>
                                        {{ line['raw_course_title'] }}<br>
                                        <strong>Salle {{ line['urr_name'] }}</strong><br>
                                        {{ line['teacher_name'] }}<br>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-1">
                    </div>
                  </div>
                </div>
          </div>
    {% else %}
      {# We retrieve only one line empty #}
      {% include 'Admin/EDT/missingmsgedt.html.twig' %}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
          {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}

    {% endif %}
{% else %}
      {# We retrieve only no line #}
      {% include 'Admin/EDT/missingmsgedt.html.twig' %}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
          {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}
{% endif %}

{% include 'Profile/_ephemeride.html.twig' %}


{# ################################ #}
{# ################################ #}
{# ################################ #}
{# PARAM FDS TO BE DISPLAYED OR NOT #}
{# ################################ #}
{# ################################ #}
{# ################################ #}
{% if param_does_pay_display == 'Y' %}
            {% if from_admin != 'N' %}
                    {# We are not public dashboard so we check if module is available #}
                    {% include 'Profile/_paymentblock.html.twig' %}
            {% else %}
                    {# We are public dashboard so we have to check several value #}
                    {% if param_does_pay_public == 'Y' %}
                              {% include 'Profile/_paymentblock.html.twig' %}
                    {% endif %}
            {% endif %}
{% endif %}

{% if (((from_admin == 'N') and (param_does_gra_public == 'Y'))
            or ((from_admin != 'N') and (param_does_gra_module == 'Y'))) %}
              {% include 'Profile/_gradeblock.html.twig' %}
{% endif %}

{% include 'Profile/_mainpopupmodalmodify.html.twig' %}
{% include 'RawTemplate/SPE/_footeredtpublic.html.twig' %}
