{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}

{% if recap_assiduites is defined and recap_assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArray =JSON.parse('{{ recap_assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArray = new Array();
    </script>
{% endif %}

{% if assiduites is defined and assiduites is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayTrace =JSON.parse('{{ assiduites | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayTrace = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">ua-profile</div>

{% if from_admin == 'Y' %}
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-2">
            <a class="btn btn-outline-dark btn-sm btn-block" href="/managerstu" role="button"><span class="icon-arrow-left nav-text"></span>&nbsp;<span class="icon-user nav-text"></span>&nbsp;Dashboard étudiant</a>
        </div>
        <div class="col-9">
        </div>
      </div>
{% endif %}
<div class="container">
    <div class="row">
      <div class="col-1 mgs-mainblk-txt">
      </div>
      <div class="col-10 mgs-mainblk-txt">


        {% if profile['PICTURE_ID'] == 0 %}
                <div id="blk-selfie" class="mgs-mainblk-txt">
                      <img id="selfie" src="{{ path('main') }}img/nophoto.png" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
                </div>
        {% else %}
                <div id="blk-selfie" class="mgs-mainblk-txt">
                      <img id="selfie" src="{{ path('main') }}img/mdl_data/{{ profile['D1'] }}/{{ profile['D2'] }}/{{ profile['FILENAME'] }}" style="width:150px; height:150px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center img-profile">
                </div>
        {% endif %}


        <div class="user-title">
            {{ profile['FIRSTNAME'] }} {{ profile['LASTNAME'] }}
        </div>
        <hr>
        <div id="pr-assid" class="carte-profile">
          <div class="pr-title"><span class="icon-calendar-plus-o nav-icon-fa nav-text"></span>&nbsp;Assiduité : lignes de présence</div>
          <span class="icon-info-circle mgs-ace-note nav-text"></span>&nbsp<span class="mgs-ace-note">Les traces entrée, sorties et ponctualité sont effacés au bout de sept jours. Les retards et les absences sont conservés toute l'année, vous avez donc jusqu'à sept jours pour contester. Vous êtes absent au delà de 10min de retard.</span><br><br>

          <div id="jsGrid">
          </div>


          <button type="button" id="edt-switch-in-out" class="btn btn-default btn-sm btn-block"><span class="icon-arrow-circle-left nav-icon-fa-sm nav-text"></span>&nbsp;Voir/cacher les entrées/sorties&nbsp;<span class="icon-arrow-circle-right nav-icon-fa-sm nav-text"></span></button>

          <div id="blc-trace-in-out">
            <br>
              <div id="jsGridTrace">
              </div>
            {% if assiduites|length == 0 %}
                Aucune trace d'entrée ou sortie disponible
            {% endif %}


          </div>


        </div>
      </div>
      <div class="col-1 mgs-mainblk-txt">
      </div>
    </div>
</div>
<hr>
{% if sp_result|length > 1 %}



      {% include 'Admin/EDT/edtheader.html.twig' %}

      <div class='uac-sm-version'>
        <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8">
              <button type="button" class="btn btn-default btn-sm btn-block edt-switch-wp"><span class="icon-refresh nav-text"></span>&nbsp;Switch demi-semaine</button>
          </div>
          <div class="col-2">
          </div>
        </div>
        <br>



          {% set resultsp_sm = week_p_one %}
          {% set day_1 = 'LUNDI' %}
          {% set day_2 = 'MARDI' %}
          {% set day_3 = 'MERCREDI' %}
          <div class='uac-sm-p1-version'>
              {% include 'Admin/EDT/_rawsmallw1screenedt.html.twig' %}
          </div>

          {% set resultsp_sm = week_p_two %}
          {% set day_1 = 'JEUDI' %}
          {% set day_2 = 'VENDREDI' %}
          {% set day_3 = 'SAMEDI' %}

          <div class='uac-sm-p2-version'>
              {% include 'Admin/EDT/_rawsmallw1screenedt.html.twig' %}
          </div>


          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <button type="button" class="btn btn-default btn-sm btn-block edt-switch-wp"><span class="icon-refresh nav-text"></span>&nbsp;Switch demi-semaine</button>
            </div>
            <div class="col-2">
            </div>
          </div>
          <br>

      </div>
      <div class='uac-lg-version'>
          {% include 'Admin/EDT/_rawlargescreenedt.html.twig' %}
      </div>



      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
        {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}

      <div class="container">
        <br><br>
        <div class="row">
          <div class="col-12">
              <a id="edt-disp-line" class="btn btn-outline-dark btn-md btn-block" href="#/" role="button"><span class="icon-medkit nav-text"></span>&nbsp;Problème d'affichage ?</a>
          </div>
        </div>
      </div>


      <div class='uac-bkp-version'>
        <br>
        <div class="container">
              <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    {% for line in resultsp_sm_bkp %}
                        {% if line['duration_hour'] > 0 %}
                            {{ line['label_day_fr'] }}-{{ line['nday'] }}: début : {{ line['hour_starts_at'] }}h00<br>
                            {{ line['raw_course_title'] }}<br>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-1">
                </div>
              </div>
            </div>
      </div>
{% else %}
      {% include 'Admin/EDT/missingmsgedt.html.twig' %}
      {% if from_admin == 'N' %}
          {# For now navigation is possible only for profile #}
          {# This may change #}
          {% include 'Profile/_navigationbutton.html.twig' %}
      {% endif %}
{% endif %}

{% include 'RawTemplate/_footer.w.jsgrid.html.twig' %}
