{% include 'RawTemplate/_hearder.html.twig' %}

{% if connected is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-primary alert-uac" role="alert">
          <span class="nav-text">Vous êtes connecté</span>&nbsp;<span class="icon-hand-peace-o nav-icon-fa nav-text"></span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}

<div id="home-ban" class="row">
  {% set home_i = random(['1', '2', '3', '4', '5', '6', '7']) %}
  <div id="home-entry"  class="img-home{{ home_i }} col-lg-12">
  </div>
  <div id="home-greet" class="col-lg-6">
    UACEEM : Donnez-vous toutes les chances
  </div>
</div>



<div class="row">

  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <p class="home-txt"><i class="lit-txt">L</i>a mission de l'université ACEEM est de promouvoir un enseignement de qualité dans un contexte national et international au milieu d'un monde sans cesse en mouvement. Au sein de l'institution du groupe ACEEM "Action pour la Culture, l’Enseignement et l’Éducation à Madagascar" créé par notre Président fondateur Monsieur Ratrema William et fort de plusieurs décennies d'expérience, nous offrons un enseignement pluridisciplinaire à tous nos étudiants pour les préparer aux enjeux de demain.<br><br>
Les diplômes que nous délivrons sont accrédités par les différents organismes de l'État (MESUPRES) et également reconnus via nos partenariats internationaux (AUF). L'expertise de nos enseignants est acquise dans le public tout comme dans le privé et ils délivrent un contenu pédagogique orienté vers les challenges de la vie active. Nous sensibilisons également nos étudiants à nos valeurs : dignité, créativité et qualité, pour faire d'eux des citoyens engagés, responsables et respectueux dans notre société.</p>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<hr>
<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
    <div  class="mgs-mainblk-txt">
        <a href="/visit">
            <img src="{{ path('main') }}img/squareg600x600.jpg" style="width:300px; height:300px; opacity: 1;" title="Nouvelle 3" alt="Nouvelle 3" class="uac-img-center img-rd-sq part-img-fmt">
        </a>
          <div class="news-exb">
            Visite guidée
          </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
    <div class="mgs-mainblk-txt">
          <a href="/provinceint">
            <img src="{{ path('main') }}img/squareb600x600.jpg" style="width:300px; height:300px; opacity: 1;" title="Province" alt="Province" class="uac-img-center img-rd-sq part-img-fmt">
          </a>
          <div class="news-exb">
            Province et internationaux
          </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
    <div class="mgs-mainblk-txt">
        <a href="/vieetudiante">
          <img src="{{ path('main') }}img/squarev600x600.jpg" style="width:300px; height:300px; opacity: 1;" title="Vie Étudiante" alt="Vie Étudiante" class="uac-img-center img-rd-sq part-img-fmt">
        </a>
          <div class="news-exb">
            Vie étudiante
          </div>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
    <div class="mgs-mainblk-txt">
        <a href="/alumni">
          <img src="{{ path('main') }}img/squarey600x600.jpg" style="width:300px; height:300px; opacity: 1;" title="Alumni" alt="Alumni" class="uac-img-center img-rd-sq part-img-fmt">
        </a>
          <div class="news-exb">
            Alumni : anciens de l'UACEEM
          </div>
    </div>
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
