<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/gestion.jpg" style="width:150px; height:150px; opacity: 1;" title="Gestion" alt="Gestion" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            GESTION<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            RAKOTONDRASOA Seheno
          </div>
        </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/droitscpolitique.jpg" style="width:150px; height:150px; opacity: 1;" title="Droit et sciences politiques" alt="Droit et sciences politiques" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            DROIT & SCIENCES POLITIQUES<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            ROBIVELO Marie Michel
          </div>
        </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/relationsinternationales.jpg" style="width:150px; height:150px; opacity: 1;" title="Relations Internationales" alt="Relations Internationales" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            RELATIONS INTERNATIONALES<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            RANAIVOSOA Boris
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div id="spc-blk"  class="col-lg-12">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/madagascarbusinessschool.jpg" style="width:150px; height:150px; opacity: 1;" title="Madagascar Business School" alt="Madagascar Business School" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            MADAGASCAR BUSINESS SCHOOL<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            RAKOTONANAHARY Herizo
          </div>
        </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/informatiqueetelectronique.jpg" style="width:150px; height:150px; opacity: 1;" title="Informatique et Électronique" alt="Informatique et Électronique" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            INFORMATIQUE & ELECTRONIQUE<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            RASTEFANO Élisée
          </div>
        </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/scdelasante.jpg" style="width:150px; height:150px; opacity: 1;" title="Sciences de la Santé" alt="Sciences de la Santé" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            SCIENCES DE LA SANTÉ<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            ANDRIANTSOA Jean Rubis
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>



<div class="row">
  <div id="spc-blk"  class="col-lg-12">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/economie.jpg" style="width:150px; height:150px; opacity: 1;" title="Économie" alt="Économie" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            ÉCONOMIE<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            RAMANANTSEHENO Domoina
          </div>
        </div>
        <div class="col-lg-2">
          <img   src="{{ path('main') }}img/universite/mention/communication.jpg" style="width:150px; height:150px; opacity: 1;" title="Communication" alt="Communication" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            COMMUNICATION<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            ANDRIANIERENANA Luc
          </div>
        </div>
        <div class="col-lg-2">
          {#
          <img   src="{{ path('main') }}img/universite/mention/promotionpartenariat.jpg" style="width:150px; height:150px; opacity: 1;" title="Promotion Partenariat" alt="Promotion Partenariat" class="uac-img-center img-profile gray-img">
          <div class="ace-sub ace-sub-fmt">
            PROMOTION DU PARTENARIAT<br>
          </div>
          <div class="ace-sub2 ace-sub-fmt2">
            VIA Richard
          </div>
          #}
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div id="spc-blk"  class="col-lg-12">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
        <div class="col-lg-6">
          <hr>
          <h1>Situation Académique</h1>
          <br>
          <div class="univ-sm-txt">
              Université Intégrée dans le système LMD (License/Master/Doctorat) depuis sa création<br><br>
              Habilitation par le MESupRES acquise pour les formations suivantes :<br>
              Faculté de Droit, de Gestion et de communication<br>
              <strong>Licence :</strong><br>
              Arrêté n°1949/2013-MESupRES du 31 janvier 2013 (Mention droit et science Politique et Gestion)<br>
              Arrêté n°9188/2013- MESupRES du 23 Avril 2013(Mention Communication).<br>
              <strong>Master :</strong><br>
              Arrêté n°21909/2014-MESupRES du 11 juin 2014 (Mention Gestion, option Marketing Management et commerce international).<br>
              Arrêté n°33213/2014-MESupRES du 04 novembre 2014 (Mention Gestion, option finances, Audit et contrôle de Gestion et Mention Communication)<br>
              Arrêté n°37564/2014-MESupRES du 29 décembre 2014 (Mention droit et science Politique)<br><br>

              Ecole Supérieure d’informatique et d’électronique<br>

              <strong>Licence</strong><br>
              Arrêté n°11118/2012-MESupRES du 05Juin 2012 (Mention informatique et électronique)<br><br>

              Ecole Supérieur des Sciences de la Santé<br>
              <strong>Licence</strong><br>
              Arrêté n°31172/2012-MESupRES du 5 décembre 2012 (Mention Sciences de la Santé)<br>
              Equivalence des diplômes obtenus auprès du Ministère de la fonction publique, du Travail et des Lois Sociales pour les mentions suivantes :<br>
              Ecole supérieure d’informatique et d’Electronique<br>
              Arrêté n°11994/2013-CNEAT du 5 juillet 2012<br><br>

              Ecole Supérieure des Sciences de la Santé<br>
              <strong>Licence :</strong><br>
              Arrêté n°15737/2011-CNEAT du 24 mars 2011 (Mention Gestion)<br>
              Arrêté n°30244/2011-CNEAT du 17 octobre 2011(Mention Communication)<br>
              Arrêté n°13052/2012-CNEAT du 7 juin 2012(Mention Droit)<br>
              <strong>Master :</strong><br>
              Arrêté n°30050/2014-CNEAT du 6 octobre 2014 (Mention Gestion, Option Marketing Management et Commerce international).<br>
              Arrêté n°35087/2014-CNEAT du 24 novembre 2014 (Mention Gestion, Option Finances Audit et Contrôle de Gestion)<br>
              Arrêté n°15286/2011-CNEAT du 17 octobre 2011 (Mention Communication)<br>
              Arrêté n°15286/2016-CNEAT du 22 juillet 2016 (Mention Droit et Sciences Politique)<br>
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>
