{% include 'RawTemplate/_hearder.html.twig' %}
{% set i_width = 33 %}
<div class="row">
  <div class="col-sm-3 mgs-mainblk-txt">
  </div>
  <div class="col-sm-6 mgs-mainblk-txt">
    <img src="{{ path('main') }}img/help/banner_calendar.png"
                  title="BannerPay" alt="Banner Calendrier Image" class="full-banner-img">
    <div class="mgs-ace-note">
        La direction se réserve le droit de modification, ce calendrier est partagé à titre indicatif.
    </div>
    <div class="mgs-ace-note">
        <br><br>Dernière mise à jour : 10 Octobre 2022
    </div>
    <h1>Calendrier 2022-23</h1>
    {#
    <div class="blk-main-help">
        <h2><span class="icon-calendar nav-text"></span>&nbsp;Semestre 1</h2>
        <table>
            <tr style="border-bottom:0.5px solid">
              <th style="min-width:330px;"><strong>Date</strong></th>
              <th style="min-width:330px;"><strong>Échéance</strong></th>
              <th style="min-width:330px;" class='disp-tab '><strong>Observation</strong></th>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>27 septembre & 25 octobre 2022</td>
              <td class='disp-sm disp-tab'>
              Concours d'entrée en L1
              </td>
              <td class='disp-sm disp-tab '>
              1ère et 2eme vagues
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>7 octobre au 30 novembre 2022</td>
              <td class='disp-sm disp-tab'>
              Inscription L1 toutes mentions confondues
              </td>
              <td class='disp-sm disp-tab ' rowspan="6">
              A.U. 2022-2023
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>3 Octobre au 30 Novembre 2022</td>
              <td class='disp-sm disp-tab'>
              Reinscription L2 et L3
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>22 Novembre 2022</td>
              <td class='disp-sm disp-tab'>
              Rentrée pédagogique L1
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>23 Novembre 2022</td>
              <td class='disp-sm disp-tab'>
              Rentrée pédagogique L2 etL3
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>22 décembre 2022 au 8 janvier 2023</td>
              <td class='disp-sm disp-tab'>
              Vacances de Noël et de fin d'année
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>9 Janvier 2023</td>
              <td class='disp-sm disp-tab'>
              Reprise des cours
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>9 Janvier 2023</td>
              <td class='disp-sm disp-tab'>
              Début présentation de mémoire L3
              </td>
              <td class='disp-sm disp-tab '>
              A.U. 2021-2022
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>24 mars 2023</td>
              <td class='disp-sm disp-tab'>
              Sortie de la 13ème promotion Licence 8ème & 9ème promotions Master
              </td>
              <td class='disp-sm disp-tab disp-tab '>
              A.U. 2020-2021 & 2021-2022
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>7 avril au 16 avril 2023</td>
              <td class='disp-sm disp-tab'>
              Vacances de Paques
              </td>
              <td class='disp-sm disp-tab'>
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>17 Avril 2023</td>
              <td class='disp-sm disp-tab'>
              Reprise des cours
              </td>
              <td class='disp-sm disp-tab '>
              L1, L2, L3
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>17 Avril 2023</td>
              <td class='disp-sm disp-tab'>
              Fin premier semestre L1, L2 et L3
              </td>
              <td class='disp-sm disp-tab'>
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>21 avril 2023</td>
              <td class='disp-sm disp-tab'>
              Demier dépot des notes L1, L2 et L3
              </td>
              <td class='disp-sm disp-tab disp-tab '>
              A.U. 22022-2023
              </td>
            </tr>
          </table>
    </div>
    #}
    <div class="blk-main-help">
        <h2><span class="icon-calendar nav-text"></span>&nbsp;Semestre 2</h2>
        <table>
            <tr style="border-bottom:0.5px solid">
              <th style="min-width:{{ i_width }}%;"><strong>Date</strong></th>
              <th style="min-width:{{ i_width }}%;"><strong>Échéance</strong></th>
              <th style="min-width:{{ i_width }}%;" class='disp-tab '><strong>Observation</strong></th>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              24 Avril 2023
              </td>
              <td class='disp-sm disp-tab'>
              Début second semestre L1, L2 et L3
              </td>
              <td class='disp-sm disp-tab'>
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              23 Juin au 30 Juin 2023
              </td>
              <td class='disp-sm disp-tab'>
              Pause fête nationale
              </td>
              <td class='disp-sm disp-tab  '>
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              3 Juillet 2023
              </td>
              <td class='disp-sm disp-tab'>
              Reprise des cours
              </td>
              <td class='disp-sm disp-tab '>
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              25 Août 2023
              </td>
              <td class='disp-sm disp-tab'>
              Fin second semestre L1, L2 et L3 et dernier dépôt des notes
              </td>
              <td class='disp-sm disp-tab '>
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              28 Août au 31 Août 2023
              </td>
              <td class='disp-sm disp-tab'>
              Saisie et traitement des notes
              </td>
              <td class='disp-sm disp-tab ' rowspan="4">
              Toutes mentions confondues
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              1 Septembre au 8 Septembre 2023
              </td>
              <td class='disp-sm disp-tab'>
              Conseil pédagogique et publication des resultats premiere session
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              14 Septembre au 22 Septembre 2023
              </td>
              <td class='disp-sm disp-tab'>
              Examens de rattrapage L1, L2 et L3
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              28 Septembre au 5 Octobre 2023
              </td>
              <td class='disp-sm disp-tab'>
              Déliberations et publication des résultats
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>
              Mois Octobre et Novembre
              </td>
              <td class='disp-sm disp-tab'>
              Stage L1, L2 et L3
              </td>
              <td class='disp-sm disp-tab '>
              A.U. 2022-2023
              </td>
            </tr>
          </table>
    </div>
    <div class="mgs-ace-note">
        <br><br>Dernière mise à jour : 18 Septembre 2023
    </div>
    <h1>Calendrier 2023-24</h1>
    <div class="blk-main-help">
        <h2><span class="icon-calendar nav-text"></span>&nbsp;Semestre 1</h2>
        <table>
            <tr style="border-bottom:0.5px solid">
              <th style="min-width:{{ i_width }}%;"><strong>Date</strong></th>
              <th style="min-width:{{ i_width }}%;"><strong>Échéance</strong></th>
              <th style="min-width:{{ i_width }}%;" class='disp-tab '><strong>Observation</strong></th>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>19-20 Septembre 2023</td>
              <td class='disp-sm disp-tab'>
              Concours d'entrée en L1
              </td>
              <td class='disp-sm disp-tab '>
              Première vague
              </td>
            </tr>


            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>17-18 Octobre 2023</td>
              <td class='disp-sm disp-tab'>
              Concours d'entrée en L1
              </td>
              <td class='disp-sm disp-tab '>
              Deuxième vague
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>31 Octobre 2023</td>
              <td class='disp-sm disp-tab'>
              Rentrée officielle des L1
              </td>
              <td class='disp-sm disp-tab '>
              
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>14 Novembre 2023</td>
              <td class='disp-sm disp-tab'>
              Rentrée officielle des L2 & L3
              </td>
              <td class='disp-sm disp-tab '>
              
              </td>
            </tr>

          </table>
    </div>
  </div>
  <div class="col-sm-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
