{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Conditions générales d'utilisation</h1>
    <div class="mgs-ace-note">
          {% set arti = 0 %}
          <br><br>
          Les présentes conditions générales d'utilisation (CGU) ont pour objet l'encadrement juriditque des modalités de mise à disposition du site et des services par UACEEM et définir les conditions d'accès et des services des utilisateurs.
          <br><br>
          <h2>#{% set arti = arti + 1 %}{{ arti }}</h2>
          En phase normale d'exploitation, le site www.uaceem.com est mis à disposition et doit être accessible à tous les étudiants de l'Université Aceem.
          <br><br>
          <h2>#{% set arti = arti + 1 %}{{ arti }}</h2>
          Ce site internet est l'implémentation du projet de numérisation et de digitalisation de l'Université Aceem.
          <br><br>
          <h2>#{% set arti = arti + 1 %}{{ arti }}</h2>
          Les données des usagers ne sont utilisées que pour une gestion administrative (assiduité, notes, comptabilité etc.) et ne sont pas partagées à aucun partenaire commercial.
          <br><br>
          <h2>#{% set arti = arti + 1 %}{{ arti }}</h2>
          Malgré toute l'attention que nous pourrions avoir, il peut exister des informations erronées. Il est de la responsibilité des usagers de corriger ou de faire corriger les informations qui sont erronées ou qui ne sont plus à jours les concernants.
          <br><br>
          <h2>#{% set arti = arti + 1 %}{{ arti }}</h2>
          Les données liées aux usagers ne sont conservées que pour la durée de leur scolarité hormis les informations liées aux diplômes. Tout usager qui quitte l'UACEEM aura ses données effacés.
          <br><br>
          <h2>#{% set arti = arti + 1 %}{{ arti }}</h2>
          Sur demande, chaque usage peut obtenir l'intégralité de ses données hébergés à l'UACEEM.
          <br>
          <br>
          Dernière mise à jour 14 mars 2023.
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
