{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Formation</h1>
    Vous souhaitez devenir étudiant ? L'université offre une grande variété de formation, il y en a sûrement une faite pour vous :
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>

        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/droit.png" style="width:150px; height:150px; opacity: 1;" title="Droit" alt="Droit" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            DROIT & SCIENCES POLITIQUES<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/gestion.png" style="width:150px; height:150px; opacity: 1;" title="Gestion" alt="Gestion" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            GESTION<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/economie.png" style="width:150px; height:150px; opacity: 1;" title="Économie" alt="Économie" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            ÉCONOMIE<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/informatiqueelectronique.png" style="width:150px; height:150px; opacity: 1;" title="Informatique et Électronique" alt="Informatique et Électronique" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            INFORMATIQUE & ÉLECTRONIQUE<br>
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt fmt-adj">
  </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/communication.png" style="width:150px; height:150px; opacity: 1;" title="Communication" alt="Communication" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            COMMUNICATION<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/scdelasante.png" style="width:150px; height:150px; opacity: 1;" title="Sciences de la Santé" alt="Sciences de la Santé" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            SCIENCES DE LA SANTÉ<br>
          </div>
        </div>
        <div class="col-lg-1 univ-col-1 univ-img">
          <img src="{{ path('main') }}img/formation/diplomatie.png" style="width:150px; height:150px; opacity: 1;" title="Relation Internationales & Diplomatie" alt="Relation Internationales & Diplomatie" class="uac-img-center img-profile part-img-fmt">
          <div class="ace-sub ace-sub-fmt">
            RELATIONS INTERNATIONALES ET DIPLOMATIE<br>
          </div>
        </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 univ-col-1">
    <hr>
    <h1>Droit & Sciences Politiques</h1>
    <br>
    <strong>Parcours</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Droit public<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Droit privé<br><br>

    Niveau requis : BACC. A ou D.<br>
    Diplôme préparés : Licence et Master.<br><br>

    <strong>Débouchés</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Magistrat<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Avocat- Notaire Huissier Commissaire-priseur<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Conseiller Juridique<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;FOP: Diplomate, Enseignant, Chercheur<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Cadre police judiciaire et Forces Armées<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Cadre Ressources Humaines<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Consultant<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Cadre politique<br><br>

    <strong>Admission</strong><br>
    La condition d’admission se fait par sélection de dossier.<br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (DROIT rouge)<br>
    <hr>

  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 univ-col-1">
    <h1>Gestion</h1>
    <br>
    <strong>Parcours Licence</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Audit et Contrôle interne<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Marketing et Commerce International<br><br>

    <strong>Parcours Master</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Finance, Audit et Contrôle de Gestion<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Marketing, Management et Commerce International<br><br>

    Niveau requis : BACC. toutes séries.<br>
    Diplôme préparés : Licence et Master.<br><br>

    <strong>Admission</strong><br>
    La condition d’admission se fait par sélection de dossier.<br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (GESTION rose)<br>

    <hr>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 univ-col-1">
    <h1>Économie</h1>
    <br>
    <strong>Parcours Licence</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Développement Économique, Social et Local<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Macroéconomie et Finance Publique<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Développement durable<br><br>

    Niveau requis : BACC. A2, C, D.<br>
    Diplôme préparés : Licence.<br><br>

    <strong>Admission</strong><br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (ÉCONOMIE orange)<br>

    <hr>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>


<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 univ-col-1">
    <h1>Informatique & Électronique</h1>
    <br>
    <strong>Parcours Licence</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Parcours Informatique<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Parcours Électronique<br><br>

    Niveau requis : BACC. A2, C, D ou Baccalauréat Technique.<br>
    Diplôme préparés : Licence.<br><br>

    <strong>Débouchés : Parcours Informatique</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Développeur d’applications<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Administrateur réseaux<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Maintenance des systèmes informatiques<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Administrateur Web<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;E-commerce<br><br>

    <strong>Débouchés : Parcours Électronique</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Maintenance des systèmes électroniques<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Pilotage de systèmes par ordinateur, par microcontrôleurs, par arduino.<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Automatisation de la production industrielle<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Systèmes de sécurité et de surveillance des habitats<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Conception de systèmes électroniques : amplificateurs, instrumentation, robots, drones<br><br>

    <strong>Admission</strong><br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (INFO jaune)<br>

    <hr>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>



<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 univ-col-1">
    <h1>Communication</h1>
    <br>
    <strong>Parcours Licence</strong><br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Communication multimédia et journalisme<br>
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;Communication d’entreprise et publicitaire<br><br>

    Niveau requis : BACC. toutes séries.<br>
    Diplôme préparés : Licence et Master.<br><br>

    <strong>Admission</strong><br>
    La condition d’admission se fait par sélection de dossier.<br>
    Ci-dessous la liste des dossiers en version papier à fournir pour l’inscription en les remettant à la scolarité de l'Université ACEEM Manakambahiny :<br>
    {% include 'Static/_mentionpieceadm.html.twig' %}
    &nbsp;<span class="icon-caret-right nav-icon-fa-sm nav-text"></span>&nbsp;1x Chemise cartonnée (COMMUNICATION bleu)<br>

    <hr>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
