{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt block-reg">
    <h1>Réglement intérieur</h1>
    <div class="mgs-ace-note">
          {% set arti = 0 %}
          <br><br>
          <h2>Préambule</h2>
          La création de l’Université ACEEM est le couronnement des actions
          entreprises par le Groupe Educatif ACEEM dans le domaine de l'Education
          et de l'Enseignement.<br><br>L'Excellence est son principal objectif.<br><br>

          Afin d'atteindre cet objectif, Enseignants, Administratifs et Etudiants doivent
          travailler en synergie, faire montre de créativité, viser la performance par la
          compétitivité et considérer la qualité comme premier souci.

          De surcroît, l'Université ACEEM est parfaitement consciente du fait que le
          pays a non seulement besoin de ressources humaines compétentes aptes à
          répondre aux besoins du développement, mais également de citoyens dignes,
          pleinement conscients de leurs responsabilités en tant que tels. Dans cette
          logique, elle insiste sur l’inévitable complémentarité entre l'Education et la
          Formation dont la non prise en compte compromettrait la qualité des
          résultats escomptés.

          Îl est évident que la concrétisation de ces ambitions requiert l'institution de
          règles claires qui doivent être scrupuleusement respectées par tous. Le
          présent document dénommé « Livret de l'Etudiant » qui n'est autre que le
          règlement intérieur applicable aux Etudiants, s'inscrit dans la logique de
          cette démarche. Il constitue un outil essentiel pour la préservation de la
          notoriété de l'Université ACEEM en tant qu'établissement d'éducation et de
          formation, mais vise aussi à mieux préparer les jeunes à prendre en main
          leur avenir.

          <hr>
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          L’enceinte de l'UNIVERSITÉ ACEEM est réservée aux Etudiants, aux
          Enseignants et au Personnel Administratif et Technique de l'Université. Toute
          autre personne désirant y accéder doit se présenter à l'accueil, et ne pourra
          circuler dans l’enceinte qu'après avoir justifié l’objet de sa visite. Il lui sera remis
          un badge qu’elle doit porter obligatoirement pendant toute la durée de sa visite

          dans l'enceinte de l’Université.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Les horaires d'ouverture de l'UNIVERSITÉ ACEEM sont fixés comme suit :
          - du lundi au vendredi : de 6h 30 à 17h30
          - le samedi matin : de 7h 00 à 12h.
          En dehors de ces jours et heures, l’accès dans l'enceinte et dans les bureaux doit
          faire l’objet d’une autorisation écrite du Recteur ou, en l'absence de ce dernier,

          de son intérimaire.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Dès qu’il franchit l’enceinte de l'Université, chaque Etudiant doit procéder au
          pointage digital d'identification sur les bornes prévues à cer effet, et porter en
          permanence sa carte d’Etudiant.
          <br><br><br>
          <h2>Discipline générale</h2>
          <hr>
          <br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Chaque Etudiant doit se présenter à l’Université dans une tenue vestimentaire

          CORRECTE et DECENTE, c’est-à-dire convenable au regard de ce qu'il est normal d'attendre, de ce qu'on considère comme juste, acceptable. Dans cette
          optique, les filles ne sont pas autorisées à porter une jupe ou un short trop court.
          Aussi bien chez les filles que chez les garçons, le port de « Jean destroy » est
          formellement interdit.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Tous les lundis (ou tout autre jour de reprise des cours, par exemple le mardi
          après Pâques), chaque Etudiant doit porter une TENUE OFFICIELLE :

          - Pour les Etudiantes : ensemble chemisier — jupe ou pantalon habillé.

          - Pour les Etudiants : chemise — cravate et pantalon habillé.

          <br><br><br>
          <h2>Effets personnels</h2>
          <hr>
          <br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          L'Université ne peut pas être tenue pour responsable de la disparition ou de la
          détérioration des biens personnels de l'Etudiant.
          <br><br><br>
          <h2>Comportement général</h2>
          <hr>
          <br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Dans l'enceinte de l'Université, il est strictement INTERDIT de : <br>

          - Fumer, cracher, consommer des boissons alcoolisées et/ou autres
          stupéfiants ;<br>

          - Jouer aux cartes ;<br>

          - Perturber la sérénité des lieux par des cris ou des sifflements ;<br>

          - Se munir d'armes à feu ou d'armes blanches ;<br>

          - Se livrer à des actes de violence.<br>
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          L'Etudiant doit éteindre les téléphones portables pendant les cours.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          À l'entrée de l'Enseignant-Formateur dans la salle, les Etudiants doivent se lever
          et s’assoient à son invitation
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          L'Etudiant doit montrer en toutes circonstances respect à l’autorité académique ainsi qu'à tout autre membre de l'Université.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          La même discipline est de rigueur pendant les heures d’étude, les réunions, les
          manifestations académiques, scientifiques, culturelles, etc., qui se déroulent sur
          le site ou dans les locaux de l'Université.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          L'Etudiant doit éviter tout comportement pouvant compromettre l'honneur de
          l'Etablissement : écat d'ébriété, perturbation de l’ordre public, propos indécents,
          etc.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Même à l'extérieur de l'Université, le comportement de l'Etudiant doit refléter une bonne image de l'Etablissement.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Tout manquement à ces règles est passible de sanctions.
          <br><br><br>
          <h2>Locaux et matériel</h2>
          <hr>
          <br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Les Etudiants doivent prendre soin du patrimoine de l'Université tels que les
          bâtiments et les salles de classe, ainsi que tout matériel mis à leur disposition
          (tables, chaises, bancs, tableaux noirs, ...) notamment : les matériels de travaux
          pratiques, du laboratoire de multimédia et/ou d'informatique.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Il est interdit de rester dans les salles de travaux pratiques, le laboratoire de
          multimédia et d'informatique en l'absence de l'Enseignant-Formateur ou du
          Responsable compétent de l'Université.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          En l'absence du Responsable du Parc Informatique, il est interdit :
          - d'échanger des composants ou des pièces entre les différents appareils
          ou machines,
          - d'installer de nouveaux softwares ; de désinstaller ou de changer ceux
          déjà existants,
          - d'utiliser les matériels de laboratoire à des fins personnelles (navigation,
          jeux, chat, musique.….).
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Les voyages d’études (V.E.) sont perçus comme étant des outils pouvant, d'une
          part, aider les Etudiants dans le renforcement de leurs aptitudes et l'acquisition
          des connaissances dont ils ont besoin pour obtenir leurs diplômes supérieurs, et
          d’autre part, faciliter leur intégration future dans la vie active. Aïnsi, la
          participation à ces activités est obligatoire pour les étudiants des niveaux

          concernés. L’impossibilité pour un étudiant ou le refus par celui-ci d’y participer
fera l'objet d’une demande d'explication par le Chef de la Mention qui décidera
          des mesures à prendre à l'endroit de l'étudiant.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          L’obtention d’un diplôme étant le couronnement de plusieurs années d'efforts
          consentis par l’étudiant, mais aussi par ses parents et l’Université, l’organisation
          chaque année d’une cérémonie de sortie solennelle des étudiants est des plus
          légitimes pour marquer d’une pierre blanche cette étape importante du cursus
          universitaire. Cet événement permet également de présenter au public les
          nouvelles compétences produites par l’Université, prêtes à intégrer la vie active

          ou à s'investir dans les travaux de recherche,

          En conséquence, la participation à une cérémonie de sortie solennelle incluant
          la remise d’attestation est obligatoire pour tous les étudiants sans distinction de
          chaque promotion.
          <br><br><br>
          <h2>Procédures disciplinaires</h2>
          <hr>
          <br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          À la confirmation de l'inscription de l'Etudiant, celui-ci et ses parents ou tuteur
          signent les deux exemplaires du formulaire annexé à ce livret, par lequel ils
          reconnaissent avoir pris connaissance du présent règlement. L'Etudiant

          concerné prend l’engagement de s’y conformer tant qu'il sera à l'Université

          ACEEM.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Fait l’objet d’une procédure disciplinaire tout Etudiant auteur ou complice des
          infractions ci-après :

          1. Infractions du ler degré
          a) Fraude ou tentative de fraude commise à l’occasion notamment

          d’une inscription (faux diplôme, ou falsification d’identité...), d’une

          épreuve de contrôle continu, d’un examen ou d’un concours ;
Fait de nature à porter atteinte à l’ordre public ;

          Fait de nature à porter atteinte à l’image de l'Université ;

          Insulte ou propos irrévérencieux à l’égard de l’ensemble du personnel
          universitaire et des étudiants ;

          Indiscipline caractérisée envers l’ensemble du personnel universitaire ;

          Manquement au règlement intérieur.

          2. Infractions du 2ème degré

          Fraude préméditée à l'examen ;

          Fraudes au cours des évaluations de connaissance ;

          Récidive des infractions du ler degré ;

          Bagarres entre Etudiants ou avec des tiers dans le site universitaire ;
          Manifestations non autorisées par l'autorité compétente;

          Manque de courtoisie manifeste envers les autorités académiques ;
          Destruction des communiqués affichés ;

          Destruction des biens et matériels de l’Université ;

          Ivresse, tapages ou comportements obscènes ;

          Faux et usage de faux documents scolaires ou administratifs ;

          Vol perpétré au sein de l’Université ACEEM ;

          Entrave à la bonne marche de l'Université (violence, menaces, voies

          de faits de toute nature, désordre organisé) ;
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Atteinte au bon déroulement des activités pédagogiques ;
          Diffamation à l'égard de l’ensemble du personnel universitaire et
          des Etudiants.

          Les sanctions disciplinaires applicables aux Etudiants pour les infractions

          mentionnées à l'Article ci-dessus sont les suivantes :
1. Pour les infractions du 1‘ degré

          - Avertissement verbal ;
          - Avertissement écrit :

          -  Blâme.

          Toute infraction du 1° degré constatée par les responsables (Enseignants,
          Surveillants Généraux et Surveillants, autres responsables de l’Université) est

          inscrite dans un document prévu à cet effet.

          Un avertissement écrit est donné à un étudiant qui a déjà fait l’objet d’un
          premier avertissement verbal.

          Un troisième avertissement entraine la traduction de l'Etudiant en Conseil de
          discipline.

          2. Pour les infractions du 2°" degré

          - Exclusion temporaire (durée à déterminer par le Conseil de discipline) ;
          - Exclusion définitive.

          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>

          Les infractions mentionnées du présent règlement ne sont pas
          exhaustives. Le Conseil de discipline peut connaître de tout autre fait pouvant
          porter préjudice.

          Toute faute jugée comme telle par le Conseil de discipline est qualifiée d'infraction de 1° degré ou de 2°" degré selon que ses
          effets sont individuels ou portent sur l’ensemble du collectif universitaire.

          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>

          La demande pour la traduction d’un Etudiant en Conseil de discipline doit être



          formulée par un Enseignant et/ou le Chef de la Mention concernée, et adressée
          au Recteur qui convoque le Conseil.

          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          La sanction ne peut être prononcée que si l'Etudiant a été préalablement
          entendu, sauf dans les cas suivants :

          -  Flagrant délit ;
          - Refus de répondre à la convocation de l'autorité compétente.

          La décision doit être signifiée officiellement et transmise à l'Etudiant et à ses

          parents.
          <br><br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>
          Toute sanction pourrait entrainer pour l'Etudiant concerné, selon le cas,
          l'annulation de l'inscription ou la nullité de l’épreuve correspondante dans le cas
          d’une fraude ou d’une tentative de fraude, ou même la nullité du groupe
          d'épreuves ou de la session d'examen ou du concours.

          <br><br><br>
          <h2>Le conseil de discipline</h2>
          <hr>
          <br>
          <h2>Article {% set arti = arti + 1 %}{{ arti }}</h2>

          Le Conseil de discipline est présidé par le Recteur, et est composé des membres
          suivants :

          - le Chef de la Mention concernée,

          - deux représentants du Collège des Enseignants,
          - deux représentants des Etudiants.

          Les représentants des Enseignants sont élus par le Collège des Enseignants, et
          ceux des étudiants proposés par le Bureau des Etudiants.

          Le rapporteur et le secrétaire de séance sont désignés par le Recteur. Ils n’ont pas
          de voix délibératoire.

          Le Conseil peut inviter toute personne pouvant éclairer ses décisions.
          <br><br>
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
