{% if reportqueries is defined %}
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mgs-mainblk-txt">
              <h1>Rapport d'intégration EDT&nbsp;{% if previsualization_counter|default(null) %}#{{ previsualization_counter }}{% endif %}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 info-cartouche">
              <strong>Mention:</strong> {{ sp_result[0]['mention'] }}<br>
              <strong>Niveau:</strong> {{ sp_result[0]['niveau'] }}<br>
              <strong>Parcours:</strong> {{ sp_result[0]['parcours'] }}<br>
              <strong>Groupe:</strong> {{ sp_result[0]['groupe'] }}<br>
              <strong>Semaine du Lundi:</strong> {{ sp_result[0]['mondayw'] }} <br>

              {% if sp_overpassday != '' %}
                  <i class='err'><strong>Attention vous intégrez une semaine en cours ou passée</strong>, nous sommes le {{ sp_overpassday }}. Les assiduités de moins d'une semaine seront re-calculés dans la journée.</i><br>
              {% endif %}
          </div>

        </div>
      </div>
      {% if zip_results|length > 0 %}
            {# Do nothing #}
      {% else %}
            <div class="container button-edt-validate">
                  <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-outline-dark btn-md btn-print btn-block" href="/loadedt" role="button">Annuler</a>
                    </div>
                    <div class="col-lg-6">
                      <div>
                          <form action="/validateedt/{{ sp_result[0]['master_id'] }}" method="post">
                              <button name="validate-edt" value="validate-edt" class="btn btn-default btn-lg btn-print btn-block"><span class="icon-arrow-down nav-icon-fa nav-text"></span>&nbsp;<span class="icon-arrow-down nav-icon-fa nav-text"></span>&nbsp;Valider l'emploi du temps&nbsp;<span class="icon-arrow-down nav-icon-fa nav-text"></span>&nbsp;<span class="icon-arrow-down nav-icon-fa nav-text"></span></button>
                          </form>
                      </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                  </div>
            </div>
      {% endif %}
  {% endif %}
