{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if stats_late is defined and stats_late is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArray =JSON.parse('{{ stats_late | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArray = "";
    </script>
{% endif %}

{% if stats_mis is defined and stats_mis is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayMis =JSON.parse('{{ stats_mis | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayMis = "";
    </script>
{% endif %}

{% if stats_mis_pp is defined and stats_mis_pp is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayMisPP =JSON.parse('{{ stats_mis_pp | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayMisPP = "";
    </script>
{% endif %}

{% if result_report is defined and result_report is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayReport =JSON.parse('{{ result_report | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayReport = "";
    </script>
{% endif %}

{% if result_course_report is defined and result_course_report is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayCourseReport =JSON.parse('{{ result_course_report | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayCourseReport = "";
    </script>
{% endif %}

{% if result_noexit_report is defined and result_noexit_report is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayNoExitReport =JSON.parse('{{ result_noexit_report | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayNoExitReport = "";
    </script>
{% endif %}

{% if result_noexit_graph is defined and result_noexit_graph is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayNoExitGraph =JSON.parse('{{ result_noexit_graph | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayNoExitGraph = "";
    </script>
{% endif %}



<div id="mg-graph-identifier">dash-ass</div>

<div class="mgs-note">Date de dernière mise à jour {{ result_lastupd[0]['LASTUPDATE'] }}.<br> Les assiduités sont calculés à 10h/12h/14h/18h (TU+0) pour tous les cours terminés 30min avant.</div>
<br>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-4">
    <h2>Top 100 des absences</h2>
    <hr>
    <div id="jsGrid">
    </div>
    <br>
    <button type="button" id="uac-ass-glb-csv" class="btn btn-secondary"><i class="icon-file-text-o"></i>&nbsp;Assiduité</button>
    &nbsp;<button type="button" id="uac-noexit-csv" class="btn btn-secondary"><i class="icon-file-text-o"></i>&nbsp;Sans scan sortie</button>
    &nbsp;<button type="button" id="uac-course-glb-csv" class="btn btn-secondary"><i class="icon-file-text-o"></i>&nbsp;Cours dispensés</button>
  </div>
  <div class="col-6">
    <h2>Absence par quartier</h2>
    <hr>
    <canvas id="statBarMis"></canvas>
  </div>
  <div class="col-1">
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-5">
    <h2>Proportion retard</h2>
    <hr>
    <canvas id="statPieLate"></canvas>
  </div>
  <div class="col-5">
    <h2>Sortie sans scan</h2>
    <hr>
    <canvas id="statBarNoExit"></canvas>
    <br><div class="mgs-note"><strong>Note</strong> les sorties sans scan sont des étudiants qui sont entrés dans l'enceinte de l'université mais ne se sont pas scanné lors de leur sortie.
    Normalement ce graphique doit être vide vu que les étudiants doivent se scanner en sortie. Si le graphe n'est pas vide, il faut investiguer. Vous pouvez voir le détails dans le rapport "Scan sans sortie."</div>
  </div>
  <div class="col-1">
  </div>
</div>


{% include 'RawTemplate/_footer.w.jsgrid.mgchart.html.twig' %}
