{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if stats_late is defined and stats_late is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArray =JSON.parse('{{ stats_late | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);

    const CONST_PARAM_YEAR = "{{ param_year }}";


  </script>
{% else %}
    <script>
      let dataTagToJsonArray = "";
    </script>
{% endif %}

{% if stats_mis is defined and stats_mis is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayMis =JSON.parse('{{ stats_mis | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayMis = "";
    </script>
{% endif %}

{% if stats_mis_pp is defined and stats_mis_pp is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayMisPP =JSON.parse('{{ stats_mis_pp | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayMisPP = "";
    </script>
{% endif %}

{% if result_report is defined and result_report is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayReport =JSON.parse('{{ result_report | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayReport = "";
    </script>
{% endif %}

{% if result_course_report is defined and result_course_report is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataTagToJsonArrayCourseReport =JSON.parse('{{ result_course_report | json_encode | raw }}');
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayCourseReport = "";
    </script>
{% endif %}

{% if result_query_hebdo_global_report is defined and result_query_hebdo_global_report is not null %}
  <script>

    let dataTagToJsonArrayHebdoGblReport =JSON.parse('{{ result_query_hebdo_global_report | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayHebdoGblReport = "";
    </script>
{% endif %}

{% if result_query_hebdo_global_compute_report is defined and result_query_hebdo_global_compute_report is not null %}
  <script>

    let dataTagToJsonArrayHebdoGblComputeReport =JSON.parse('{{ result_query_hebdo_global_compute_report | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataTagToJsonArrayHebdoGblComputeReport = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">dash-ass</div>

<div class="mgs-note">Date de dernière mise à jour {{ result_lastupd[0]['LASTUPDATE'] }}.<br> Les assiduités sont calculés à 10h/12h/14h/18h (TU+0) pour tous les cours terminés 30min avant.</div>
{% if result_query_queued_ass[0]['QUEUED_ASS'] > 0 %}
    <div  class="mgs-note-warn"><span class="icon-exclamation-circle nav-icon-fa-sm nav-text"></span>&nbsp;Il reste {{ result_query_queued_ass[0]['QUEUED_ASS'] }} EDT du passé en attente. Les assiduités vont être recalculés cette nuit.</div>
{% endif %}
<br>
<div class="row report-banner">
  <div class="col-1">
  </div>
  <div class="col-10">
    <button type="button" id="uac-ass-glb-csv" class="btn btn-dark"><i class="icon-file-text-o"></i>&nbsp;Assiduité</button>
    &nbsp;<button type="button" id="uac-course-glb-csv" class="btn btn-dark"><i class="icon-file-text-o"></i>&nbsp;Cours annulés</button>
    &nbsp;<button type="button" id="uac-abs-pdt-xls" class="btn btn-outline-dark"><i class="icon-file-excel-o"></i>&nbsp;Hebdomadaire</button>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-4">
    <h2>Top 100 des absences</h2>
    <hr>
    <div id="jsGrid">
    </div>
  </div>
  <div class="col-6">
    <h2>Absence par quartier 30 jours</h2>
    <hr>
    <canvas id="statBarMis"></canvas>
  </div>
  <div class="col-1">
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-2">
  </div>
  <div class="col-6">
    <h2>Proportion retard 7 jours</h2>
    <hr>
    <canvas id="statPieLate"></canvas>
  </div>

  <div class="col-2">
  </div>
  <div class="col-1">
  </div>
</div>


{# Necessary go to student profile #}
{% include 'Admin/EDT/_gotostudentprofilefromdash.html.twig' %}

{% include 'RawTemplate/_footer.w.jsgrid.mgchart.sheetjs.html.twig' %}
