{% include 'RawTemplate/_hearder.html.twig' %}
{% set free_i = random(['1', '2', '3', '4', '5', '6', '7']) %}

{% if result_allclass_query is defined and result_allclass_query is not null %}
    <script>
      const msgExistEdtForMonday = "<i class='err'><strong><i class='icon-bullhorn nav-text'></i>&nbsp;Attention un EDT existe déjà</strong>, vous pouvez le charger en cliquant sur [Charger EDT] sinon vos changements (même en brouillon) vont le remplacer.</i><br>"


      let dataMentionToJsonArray = JSON.parse('{{ result_mention_query | json_encode | raw }}');
      let dataAllClassToJsonArray = JSON.parse('{{ result_allclass_query | json_encode | raw }}');
      let dataCountStuToJsonArray = JSON.parse('{{ result_count_stu_query | json_encode | raw }}');
      let dataAllRoomToJsonArray = JSON.parse('{{ result_allroom_query | json_encode | raw }}');
      let dataAllMasterToJsonArray = JSON.parse('{{ result_allmaster_query | json_encode | raw }}');
      let dataUsedRoomToJsonArray = JSON.parse('{{ result_usedroom_query | json_encode | raw }}');
      let dataTeacherToJsonArray = JSON.parse('{{ result_teacher_query | json_encode | raw }}');
      let filteredTeacherList = new Array();


      

      let dataLoadToJsonArray = JSON.parse('{{ result_load_edt | json_encode | raw }}');


      let techMondaysToJsonArray = JSON.parse('{{ tech_mondays | json_encode | raw }}');
      let dispMondaysToJsonArray = JSON.parse('{{ disp_mondays | json_encode | raw }}');
      const getToken = '{{ result_get_token }}';
      const currentUserId = '{{ id }}';
      // Can be Y or N
      const editRights = '{{ edit_rights }}';
      // Can be CRT or LOA for load
      const mode = '{{ mode }}';
      let editMode = 'N';

      let edtExistAlready = 'N';
      let edtExistAlreadyMasterId = 0;
      let edtExistAlreadyMasterIdJQType = 'Y';

      // This variable only used for debug
      let tempMisc;

      let tempMention = '';
      let tempMentionCode = '';
      let tempClasse = '';
      let tempClasseID = 0; // <> CourseID !!!
      let tempCountStu = 0;
      let tempTeacherName = '';
      let tempTeacherId = '';

      const refHours = ["7h-8h", "8h-9h", "9h-10h", "10h-11h", "11h-12h", "12h-13h", "13h-14h", "14h-15h", "15h-16h", "16h-17h", "17h-18h"];
      const refHoursStart = ["7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h"];
      const refHalfHoursStart = ["7h00", "7h30", "8h00", "8h30", "9h00", "9h30", "10h00", "10h30", "11h00", "11h30", "12h00", "12h30", "13h00", "13h30", "14h00", "14h30", "15h00", "15h30", "16h00", "16h30", "17h00", "17h30"];
      const refDays = ["&nbsp;", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];
      const refEnglishDay = ["&nbsp;", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY"];
      const refDayCode = ["0", "1", "2", "3", "4", "5", "6"];
      const classBackground = "edt-bg-free-{{ free_i }}";
      const maxRawCourseTitleLength = 800;
      const constRowHalfSize = 20;

      let invMondayStr = techMondaysToJsonArray[2];
      let dispMonday = dispMondaysToJsonArray[2];


      let dateArray = new Array();
      let techDateArray = new Array();


      let tempHourDuration = 0;
      let tempMinDuration = 0;
      let tempHalfHourShiftDuration = 0;
      let tempHalfHourTotalShiftDuration = 0;
      let tempCourseId = ''; // <> ClasseID !!!
      let tempStartTime = '';
      let tempEndTime = '';
      let tempCourseStatus = 'A';
      let tempCourseRoomId = 0;
      let tempCourseRoom = '';
      let tempCourseRoomCapacity = 0;

      let myEDTArray = new Array();
      let myEDTRowSpanDebtArray = new Array();

    </script>
{% else %}
    // Error
    <script>
      let dataAllClassToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">jqc-edt</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-2 menu-dropdown">
    <a class="btn btn-outline-dark btn-sm btn-up-menu" href="/manageredt" role="button">Quitter&nbsp;<span class="icon-times nav-text"></span></a>
    {# We have the rights to edit/create #}
    {% if edit_rights == 'Y' %}
        <a class="btn btn-dark btn-sm btn-up-menu" href="/jqcreateedt" role="button">Nouveau&nbsp;<span class="icon-calendar nav-text"></span></a>
    {% endif %}
  </div>
  <div class="col-8">

  </div>
</div>

<div class="white-ajax-wait">
  <img id="waiting-ajax-gif" src="{{ path('main') }}img/waiting-1.gif" style="width:400px; opacity: 1;" title="Patientez" alt="Patientez" class="uac-img-center img-profile">
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10  info-cartouche">
      <div id="cartouche-edt">

        <div class="menu-dropdown">

            <div class="dropdown btn-ace-menu">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMention" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i id="drp-select">Mention</i>
                </button>
                <div id="dpmention-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                </div>
            </div>

            <div class="dropdown btn-ace-menu">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownClasse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i id="selected-class">Classe</i>
                </button>
                <div id="dpclasse-opt"  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Sélectionnez une mention</a>
                </div>
            </div>

            <div class="btn-ace-menu disp-class-qty">
              <i class="icon-group-full nav-text"></i>&nbsp;<i id="sel-stu-qty">0</i>
            </div>


        </div>
        <div class="menu-dropdown">
          <div class="sel-inline">
            Semaine du Lundi:
          </div>
          <div id='sel-wmonday'>
            <div id="crs-wmonday" class="btn-group" role="group" aria-label="Status">
            </div>
          </div>
          {# We have the rights to edit #}
          {% if edit_rights == 'Y' %}

              <button id="btn-clear-jqedt" onclick="clearEDT();" class="btn btn-outline-dark btn-sm btn-blk-menu">Vider EDT &nbsp;<i class="icon-repeat nav-text"></i></button>
              <button id="btn-load-jqedt" onclick="goToExistingEDT()" class="btn btn-outline-dark btn-sm btn-blk-menu" disabled>Charger EDT &nbsp;<i class="icon-arrow-down nav-text"></i></button>
              <button id="btn-edit-jqedt" onclick="startOnOffEdit();" class="btn btn-dark btn-sm btn-blk-menu" {% if mode == 'CRT' %}disabled{% endif %}><i id="btn-edit-name">{% if mode == 'CRT' %}Figer{% else %}Modifier{% endif %} EDT</i>&nbsp;<i class="icon-pencil-square-o nav-text"></i></button>
          {% endif %}
          
        </div>
        <div class="edt-status"><i class="icon-exclamation-circle nav-text"></i>&nbsp;Status : <i id='last-update'>(non publié)</i></div>

        {# We have the rights to edit #}
        {% if edit_rights == 'Y' %}
            <div id="past-msg-edt">
                <i class='err'><strong><i class="icon-exclamation-triangle nav-text"></i>&nbsp;Attention vous êtes sur une semaine en cours ou passée</strong>, nous sommes le {{ "now"|date("d/m/Y") }}. Les assiduités de moins d'une semaine seront re-calculés dans la journée.</i><br>
            </div>

            <div id="exist-msg-edt">
                {# Message to be displayed here is msgExistEdtForMonday but not appearing because of hiding #}
            </div>
        {% endif %}


      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id='my-full-edt' class="col-lg-12">
      <hr>
      <div id="main-edt">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div id="edt-save-blk" class="btn-ace-right btn-bar-foot">


        <button id="btn-export-jqedt" onclick="exportFile();" class="btn btn-outline-dark btn-lg btn-blk-jqedt">Export &nbsp;<i class="icon-file-excel-o nav-text"></i></button>
        <button id="btn-draft-jqedt" onclick="publishEDT('D');" class="btn btn-dark btn-lg btn-blk-jqedt bdt-save-pub">Brouillon &nbsp;<i class="icon-floppy-o nav-text"></i></button>
        <button id="btn-publish-jqedt" onclick="publishEDT('V');" class="btn btn-dark btn-lg btn-blk-jqedt bdt-save-pub">Publier<i id="publish-cls"></i>&nbsp;<i class="icon-paper-plane-o nav-text"></i></button>


      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enregistrer un cours</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='modal-crs-err'>
        </div>
        <div id='modal-crs-infos'>
        </div>
        <div id='modal-crs-dur-blk'>
          <div class="modal-subtit">Durée: <strong><i class="disp-dur-cls"><i id="disp-h-duration">00</i>h<i id="disp-m-duration">00</i>&nbsp;</i></strong><i id="disp-t-end"></i></div>
          <div id="hour-duration" class="btn-group" role="group" aria-label="Basic example">
          </div>
          +
          <div id="min-duration" class="btn-group" role="group" aria-label="Basic example">
          </div>
        </div>

        <div class="menu-dropdown">
              <div id='modal-crs-status'>
                <div id="crs-status" class="btn-group" role="group" aria-label="Status">
                  <button id="stt-a" type="button" value="A" class="btn btn-outline-secondary stt-group active">Actif</button>
                  <button id="stt-o" type="button" value="O" class="btn btn-outline-secondary stt-group">Optionnel</button>
                  <button id="stt-h" type="button" value="H" class="btn btn-outline-secondary stt-group">Hors site</button>
                  <button id="stt-c" type="button" value="C" class="btn btn-outline-secondary stt-group">Annulé</button>

                  <button id="stt-1" type="button" value="1" class="btn btn-outline-secondary stt-group">Note 1</button>
                  <button id="stt-2" type="button" value="2" class="btn btn-outline-secondary stt-group">Note 2</button>
                </div>
              </div>


              <div id='modal-crs-room'>
                  <select id='my-room-select' onchange="selectRoom(value);">
                  </select>
              </div>
        </div>
        <div id="teacher-blk" class="menu-dropdown">
          <input id="teach-sel" list="teach-list" placeholder="Enseignant ou laisser vide">
            <datalist id="teach-list">
              {# <option>Russia</option> #}
            </datalist>
        </div>
        <div id="teach-sel-msg">
          <i class="icon-exclamation-triangle nav-text"></i>&nbsp;Enseignant introuvable dans notre référentiel : vous devez mettre son nom dans la partie description juste en bas, sinon aucun professeur ne sera indiqué pour ce cours.
        </div>
      <hr>
      <div>
        Nombre de caractère(s) restant(s) : <i id="crs-desc-length"></i><br>
        <textarea id="crs-desc" placeholder="Ne peut être vide : décrivez le cours ici : titre, indication, professeur si absent de la liste. Les options Note 1 et Note 2 ne sont pas visibles par les étudiants." name="w3review" rows="4" cols="70" onKeyUp='verifyTextAreaSaveBtn()'></textarea>
      </div>
      </div>
      <div class="modal-footer">
        <button id="delete-edt-line" type="button" class="btn btn-outline-dark" onclick="deleteCourseAndDisplay()" disabled>Supprimer</button>
        <button type="button" class="btn btn-light" onclick="drawMainEDT()" data-dismiss="modal">Annuler</button>
        <button id="save-edt-line" type="button" class="btn btn-dark" onclick="saveCourse()" disabled>Valider</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="aj-fback-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id='ajax-feedback'>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


{% include 'Admin/EDT/_rawmanagerEDTGoToPost.html.twig' %}
{% include 'RawTemplate/SPE/_footerjqedt.html.twig' %}
