{% include 'RawTemplate/_hearder.html.twig' %}
<div id="mg-graph-identifier">loader-edt</div>

{% if validated is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-success alert-uac" role="alert">
          <span class="nav-text">Votre emploi du temps a bien été validé #{{ validated }}. Vous pouvez intégrer un autre emploi du temps.</span>&nbsp;<span class="icon-check nav-icon-fa nav-text"></span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}
{% if nofile is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-danger alert-uac" role="alert">
          <span class="icon-times-circle nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Votre fichier n'a pas été reconnu.</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Charger EDT</h1>

    <div id="blk-selfie" class="mgs-mainblk-txt">
          <img id="loader-img" src="{{ path('main') }}img/mid_img370x850.png" style="width:490px; height:220px; opacity: 1;" title="cloud folder" alt="cloud folder" class="uac-img-center">
          <img id="loader-wait" src="{{ path('main') }}img/waiting.gif" style="width:500px; height:330px; opacity: 1;" title="cloud folder" alt="cloud folder" class="uac-img-center">
    </div>
    <hr>

    {% if errtype != "" %}
          <span class="err"><span class="icon-exclamation-circle nav-icon-fa nav-text"></span>&nbsp;{{ errtype }}</span><br>
    {% endif %}
    Chargez les emplois du temps de la semaine&nbsp;<span class="icon-upload nav-icon-fa nav-text"></span><br><br>
    <div id="loader-block">
        <form action="/checkandloadedt" method="post" enctype="multipart/form-data">
          Choisissez un fichier en .csv ou .zip &nbsp;
          <input type="file" name="fileToUpload" id="fileToUpload"><br><br>

          <input type="submit" value="Uploader le fichier" name="submit" id="file-upl-loader-sub" class="btn btn-default btn-lg btn-print btn-block">
        </form>
    </div>
    <br>
    <span class="icon-exclamation-circle nav-icon-fa nav-text"></span>&nbsp;Si vous changez un emploi du temps d'un jour dans le passé, les lignes de présence seront re-calculées cette nuit et disponible demain.<br>
    <hr>
    Le fichier que vous chargez doit absolument être en .csv ou en .zip ({{ maxziplimit - 1 }} fichiers maximum).<br>
    Il doit respecter le format déjà pré-défini pour les emploi du temps de l'UACEEM.
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
