<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue à l'université UACEEM !</title>
    </head>
    <body>
        <h1>Bienvenue à l'Université ACEEM !</h1>

        <strong>Cet email est important, vous devez le lire avec attention.</strong><br>

        Nous sommes très heureux de vous avoir parmi nos étudiants.<br><br>
        Votre username est {{ username|upper }}<br><br>
        <strong>IMPORTANT : votre username et les autres informations de cet email sont confidentiels durant toute votre scolarité chez nous et ils ne doivent être partagé avec personne.<br> Si vous consultez votre dashboard depuis un ordinateur public, passez en mode privé.</strong>
        <br><br>
        Voici votre carte d'étudiant virtuelle : <a href="{{ cartezp }}">Voir ma carte virtuelle</a><br>
        Sinon vous pouvez copier coller ce lien dans l'URL de votre navigateur personnel : {{ cartezp }}<br><br><br>
        Une carte d'étudiant avec code barre va vous être remise par la scolarité.<br>
        Votre carte d'étudiant (ou votre carte virtuelle) doit être scannée en entrée et en sortie de l'université. Elle permet d'indiquer votre présence.<br><br><br>
        Voici le lien vers votre dashboard <a href="{{ dashboard }}">Voir mon dashboard</a><br>
        Sinon vous pouvez copier coller ce lien dans l'URL de votre navigateur personnel : {{ dashboard }}<br><br>
        Le lien dashboard vous donne votre emploi du temps et le suivi de votre assiduité ainsi que d'autres informations utiles.<br>
        Vérifiez bien que les informations vous concernants sont bonnes parce qu'elles vont servir pour votre diplôme. Si vous devez corriger, <strong>ne vous inscrivez pas plusieurs fois</strong> mais envoyez nous un email à admin@uaceem.com en indiquant ce qui doit être corrigé.<br>
        Vous trouvez plus d'information sur le <a href="https://www.uaceem.com/letsgetitstarted">tutoriel</a>.<br><br>
        Si vous rencontrez un problème écrivez-nous à admin@uaceem.com<br><br><br>

        Bonne rentrée !

        <br><br><br>L'équipe digitalisation.<br>


    </body>
</html>
