{% include 'RawTemplate/_hearder.html.twig' %}
{% set i_width = 49 %}
{% set contact_email = 'contact@uaceem.com' %}
{% set contact_mvola = '034 49 600 00' %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <img src="{{ path('main') }}img/help/banner_concours.png"
                  title="BannerPay" alt="Banner Concours Image" class="full-banner-img">
    <h1>Passer le concours ACEEM</h1>
    <div class="mgs-ace-note">
        Vous souhaitez nous rejoindre ? Vous trouvez ici toutes les informations nécessaires pour intégrer l'université ACEEM par concours.
    </div>
    <div class="blk-main-help">
        <h2><span class="icon-calendar-1 nav-text"></span>&nbsp;Date de concours en 1ère Année</h2>
        <ul>
            <li>1ère vague : 19-20 Septembre 2023</li>
            <li>2ème vague : 17-18 Octobre 2023</li>
        </ul>
    </div>
    <div class="blk-main-help">
        <h2><span class="icon-facebook-official nav-text"></span>&nbsp;Actualités</h2>
        Suivez nos dernières actualités sur notre <a href="https://www.facebook.com/oniversiteaceem">Facebook</a>.
        <table>
            <tr style="border-bottom:0.5px solid">
              <th style="min-width:{{ i_width }}%;"><strong>Date</strong></th>
              <th style="min-width:{{ i_width }}%;"><strong>Rencontre</strong></th>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>22-23-24 Août 2023</td>
              <td class='disp-sm disp-tab'>
              Saint Michel Amparibe
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>24-25-26 Août 2023</td>
              <td class='disp-sm disp-tab'>
              PLAZA Ampefiloha
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>24-25-26 Août 2023</td>
              <td class='disp-sm disp-tab'>
              PARVIS Analakely
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>24-25 Août 2023</td>
              <td class='disp-sm disp-tab'>
              FOYER Canada Anjoma - Toamasina
              </td>
            </tr>

            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>07-08 Septembre 2023</td>
              <td class='disp-sm disp-tab'>
              Parking Akoor' Digue
              </td>
            </tr>

          </table>
    </div>
    <div class="blk-main-help">
        <h2><span class="icon-files nav-text"></span>&nbsp;Dossier d'inscription à fournir par email</h2>
        Pour passer le concours, vous devez faire 2 étapes : <strong>remplir la fiche de pré-inscription et nous envoyer un email</strong>

        <br><br>
        <h4>Étape 1 : envoyer l'email</h4>
        Envoyez-nous un email avec :
        <ul>
            <li>1 photo d’identité récente scannée</li>
            <li>Preuve de réussite du BACC au choix :</li>
            <ul>
                <li>Photo du journal scannée</li>
                <li>Capture d'écran du message de l'opérateur</li>
                <li>Capture d'écran site web du ministère</li>
            </ul>
            <li>Droits de concours ou entretien : <strong>50 000 Ariary</strong> </li>
            <ul>
                <li>Envoyez le paiement Mvola au : {{ contact_mvola }}</li>
                <li>Notez bien <strong>la référence du paiement Mvola</strong> il faudra la renseigner dans la fiche de l'étape 2</li>
            </ul>
        </ul>
        Enfin, envoyez via email à {{ contact_email }}
        <br><br>
        <h4>Étape 2 : remplir la Fiche</h4>
        <li>Remplir la fiche de pré-inscription ci-dessous </li>
        <ul>
            <li>Remplissez directement les informations de la fiche de pré-inscription à l'ordinateur</li>
            <li>Cliquez sur "envoyer" à la fin de la fiche</li>
        </ul>
        <br>
        <br>
            <a href="https://forms.gle/eZtdWykMxVvXRmqp6" type="button" target="_blank" class="btn btn-default btn-lg btn-block"><span class="icon-file-text-o nav-text"></span>&nbsp;Remplir la fiche de pré-inscription</a>
        <br>
    </div>
    <div class="blk-main-help">
        <h2><span class="icon-clipboard-1 nav-text"></span>&nbsp;Liste des matières par concours</h2>
        <div class="mgs-ace-note">
            Voici la liste des épreuves que vous aurez à passer par concours
        </div>
        <table>
            <tr style="border-bottom:0.5px solid">
              <th style="width:{{ i_width }}%;"><strong>Concours</strong></th>
              <th style="width:{{ i_width }}%;"><strong>Matières</strong></th>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>Droit/DT</td>
              <td class='disp-sm disp-tab'>
                • Français<br>  
                • Malagasy<br>
                • Histo-géo/Initiation à l'étude de droit<br>
                • Philosophie/Économie générale<br>
              </td>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>Gestion/GE</td>
              <td class='disp-sm disp-tab'>
                • Mathématiques générales<br>  
                • Français<br>
                • Culture générale<br>
                • Anglais<br>
              </td>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>Communication/CO</td>
              <td class='disp-sm disp-tab'>
                • Français<br>  
                • Anglais<br>  
                • Malagasy<br>
                • Connaissances générales<br>
              </td>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>Économie/ECO</td>
              <td class='disp-sm disp-tab'>
                • Mathématiques générales<br>  
                • Culture générale<br>
              </td>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>Informatique & Électronique/IE</td>
              <td class='disp-sm disp-tab'>
                • Mathématiques générales<br>  
                • Physique<br>
                • Culture générale<br>
                • Français<br>  
              </td>
            </tr>
            <tr style="border-bottom:0.5px solid">
              <td class='disp-sm disp-tab'>Sciences de la Santé/SST</td>
              <td class='disp-sm disp-tab'>
                • Mathématiques générales<br>  
                • Physique-chimie<br>
                • Biologie<br>
                • Français<br>  
                • Malagasy<br>  
              </td>
            </tr>
          </table>
    </div>
    <div class="blk-main-help">
        {% set quesn = 0 %}
        <h2><span class="icon-question-circle nav-text"></span>&nbsp;Questions fréquentes</h2>
        <br><br>
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Comment savoir quelle Mention/filière est faîte pour moi ?</h3>
        Chaque parcours est différent, il y en a forcément un fait pour vous, plus de détails sur chaque mention <a href="/mention">ici</a>.
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Organisez-vous des rencontres lycéennes en provinces ?</h3>
        Oui, c'est indiquez sur cette page à la rubrique "Actualité" et suivez notre <a href="https://www.facebook.com/oniversiteaceem">Facebook</a>.
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Puis-je m'inscrire à plusieurs concours en 1ère année ?</h3>
        Vous pouvez vous inscrire à une Mention pour la 1ère vague et à une autre Mention pour la 2ème vague.
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Quels sont les étapes pour m'inscrire ?</h3>
        <ul>
            <li>Réunir tous les documents demandés (photos, preuve du bacc etc.)</li>
            <li>Payer les droits d'inscription via Mvola</li>
            <li>Récupérer la référence de paiement Mvola</li>
            <li>Écrire un email</li>
            <ul>
                <li>en attachant en pièce jointe votre photo d'identité</li>
                <li>en attachant en pièce jointe la preuve de réussite au Bacc</li>
            </ul>
            <li>Envoyer l'email</li>
            <li>Remplir la fiche de pré-inscription en cliquant sur le lien</li>
        </ul>
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Comment remplir la fiche de pré-inscription ?</h3>
        Cliquez sur le bouton "Remplir la fiche de pré-inscription" et renseignez les informations demandées. N'oubliez pas de cliquer sur Envoyer.
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Quel est le numéro Mvola pour payer les droits d'inscription ?</h3>
        Envoyez votre paiement via Mvola au numéro : {{ contact_mvola }}
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;À quelle adresse email envoyer mon inscription au concours ?</h3>
        Envoyez via email à {{ contact_email }}
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Si je rencontre un problème quel numéro appeler ?</h3>
        Pour tout problème technique et informatique, contactez nous au 034 49 500 74
        <h3>#{% set quesn = quesn + 1 %}{{ quesn }}&nbsp;Que se passe-t-il après le concours ?</h3>
        Vous serez informé du résultat et si vous avez la chance d'être admis, il faudra compléter votre dossier avec les pièces suivantes
        <ul>
            <li>01 Demande manuscrite avec motivation</li>
            <ul>
                <li>à adresser à Mr Le Recteur de l’Université ACEEM</li>
            </ul>
            <li>01 Bulletin de naissance ou Acte de naissance</li>
            <li>01 Certificat de résidence</li>
            <li>01 Relevé de notes BAC et Diplôme BAC  (Photocopie certifiée)</li>
            <li>01 Chemise cartonnée en fonction de la Mention concourrue : </li>
            <ul>
                <li>Droit (DT) : chemise couleur rouge&nbsp;<span class="icon-square nav-text i-rouge"></span></li>
                <li>Gestion (GE) : chemise couleur rose&nbsp;<span class="icon-square nav-text i-rose"></span></li>
                <li>Communication (CO) : chemise couleur bleu&nbsp;<span class="icon-square nav-text i-bleu"></span></li>
                <li>Économie (ECO) : chemise couleur orange&nbsp;<span class="icon-square nav-text i-orange"></span></li>
                <li>Informatique & Électronique (IE) : chemise couleur jaune&nbsp;<span class="icon-square nav-text i-jaune"></span></li>
                <li>Sciences de la Santé (SST) : chemise couleur verte&nbsp;<span class="icon-square nav-text i-vert"></span></li>
            </ul>
        </ul>


    </div>
    <div class="mgs-ace-note">
        <br><br>Dernière mise à jour : 22 Août 2023.
    </div>
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>



{% include 'RawTemplate/_footer.html.twig' %}
