{% include 'RawTemplate/_hearder.html.twig' %}

<div class="row">
  <div class="col-lg-4 mgs-mainblk-txt">
  </div>
  <div class="col-lg-4 mgs-mainblk-txt">
    <h1>Inscription Intranet</h1>
    <div class="expl-text">
      Nous allons vous expliquer comment finaliser votre inscription sur l'intranet de l'ACEEM. Vous allez voir, ça se fait en trois étapes et c'est très facile.
    </div>
    <div class="expl-title">
      <hr>
      Étape 1 : Email
    </div>
    <div class="expl-text">
      Munissez-vous de l'email reçu sur votre Gmail que vous avez utilisez pour l'inscription, le sujet du mail commence par <span class="expl-bold">[UACEEM] Bienvenu à l'ACEEM</span>. Dedans vous allez trouver les informations très importantes suivantes : <br><br>
      <span class="expl-bold">Username</span> : votre username est une combinaison de votre prénom et nom et d'un nombre aléatoire. C'est un mot de 10 lettres, il sera le même pour toute votre scolarité à l'ACEEM. Il sera utilisé pour toutes les démarches digitalisée de l'ACEEM.
      <span class="expl-bold">Matricule</span> : C'est un numéro d'étudiant annuel qui va être nécessaire pour toutes les démarches administratives papiers.
    </div>
    <div class="expl-title">
      <hr>
      Étape 2 : Connexion
    </div>
    <div class="expl-text">
      Allez sur le site https://intranet.uaceem.com et connectez vous avec les informations suivantes : votre username et le mot de passe "tongasoaaceem"
      Votre première mission va être de changer ce mot de passe au prochain écran.<br>
      1/ Cliquez sur Connexion en haut à droite.<br>
      2/ Vous allez tomber sur cet écran où vous allez rentrer votre <span class="expl-bold">Username</span> et le mode de passe <span class="expl-bold">tongasoaaceem</span><br>
      <div id="blk-selfie" class="mgs-mainblk-txt">
            <img id="selfie" src="{{ path('main') }}img/tutoInscription1.png" style="width:300px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center">
      </div>
      3/ Vous devez ensuite changez votre mot de passe <br>
      Dans les prochains écrans, l'intranet vous invite à choisir un nouveau mot de passe.
      <div id="blk-selfie" class="mgs-mainblk-txt">
            <img id="selfie" src="{{ path('main') }}img/tutoChangePswd.png" style="width:300px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center">
      </div>
    </div>
    <div class="expl-title">
      <hr>
      Étape 3 : Votre Photo
    </div>
    <div class="expl-text">
      Si vous avez besoin, vous pouvez changer la langue de l'intranet ici.
      <div id="blk-selfie" class="mgs-mainblk-txt">
            <img id="selfie" src="{{ path('main') }}img/tutoBonusChangerLangue.png" style="width:300px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center">
      </div>
      Nous allons maintenant changer la photo. Vous devez cliquer sur "modifier votre profil" ici.
      <div id="blk-selfie" class="mgs-mainblk-txt">
            <img id="selfie" src="{{ path('main') }}img/tutoModifierProfil.png" style="width:300px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center">
      </div>
      Une fois dans la modification de votre profil, vous descendez jusqu'à cet écran et vous n'avez plus qu'à uploader votre photo.
      <div id="blk-selfie" class="mgs-mainblk-txt">
            <img id="selfie" src="{{ path('main') }}img/UploaderPhoto.png" style="width:300px; opacity: 1;" title="no Photo" alt="No Photo" class="uac-img-center">
      </div>
      C'est l'upload de votre photo qui va déclencher l'envoi de votre carte d'étudiant virtuelle.

    </div>
    <div class="expl-title">
      <hr>
      Fin
    </div>
    <div class="expl-text">
      Votre inscription est maintenant terminé. Vous allez recevoir un nouvel email d'ici 24h qui vous indique comment obtenir votre carte d'étudiant virtuelle.
      Si vous n'avez rien d'ici là, prenez contact avec nous.<br>
      Bonne rentrée !

    </div>
  </div>
  <div class="col-lg-4 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/_footer.html.twig' %}
