{% include 'RawTemplate/_hearder.html.twig' %}

<div id="mg-graph-identifier">load-gra</div>

{% if validated is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-success alert-uac" role="alert">
          <span class="nav-text">Votre fichier CRA a bien été validé #{{ validated }}. Vous pouvez intégrer un autre CRA.</span>&nbsp;<span class="icon-check nav-icon-fa nav-text"></span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}
{% if nofile is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-danger alert-uac" role="alert">
          <span class="icon-times-circle nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Votre fichier n'a pas été reconnu.</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}

<div class="row">
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
  <div class="col-lg-6 mgs-mainblk-txt">
    <h1>Charger notes</h1>

    <div id="blk-selfie" class="mgs-mainblk-txt">
          <img id="loader-img" src="{{ path('main') }}img/gra_img370x850.png" style="width:490px; height:220px; opacity: 1;" title="cloud folder" alt="cloud folder" class="uac-img-center">
          <img id="loader-wait" src="{{ path('main') }}img/waiting.gif" style="width:500px; height:330px; opacity: 1;" title="cloud folder" alt="cloud folder" class="uac-img-center">
    </div>
    <hr>

    {% if errtype != "" %}
          <span class="err"><span class="icon-exclamation-circle nav-icon-fa nav-text"></span>&nbsp;{{ errtype }}</span><br>
    {% endif %}


    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ---------------------------------------------------------------   CRITERIA    ----------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}

    <div class="menu-dropdown">

        <div class="dropdown btn-ace-menu tag-edit">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMention" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i id="drp-select" class="tag-color-edit">Mention</i>
            </button>
            <div id="dpmention-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            </div>
        </div>

        <div class="dropdown btn-ace-menu tag-edit">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownClasse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i id="selected-class" class="tag-color-edit">Classe</i>
            </button>
            <div id="dpclasse-opt"  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Sélectionnez une mention</a>
            </div>
        </div>

        <div class="dropdown btn-ace-menu tag-edit">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMention" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i id="cou-select" class="tag-color-edit">Matière</i>
            </button>
                <div id="dpcour-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
        </div>

        <div class="btn-ace-menu disp-class-qty">
        <i class="icon-group-full nav-text"></i>&nbsp;<i id="sel-stu-qty">0</i>
        </div>
        
    </div>
    <div class="menu-dropdown">
        <div class="btn-ace-menu disp-class-qty">
            Date examen
        </div>
        <div class="dropdown btn-ace-menu tag-edit">
            <input class="pickdate tag-color-edit" type="date" id='exam-day' placeholder="MM/DD/YYYY" />
        </div>

        <div id="teacher-blk-gra" class="menu-dropdown tag-edit">
        <input id="teach-sel-gra" list="teach-list" class="tag-color-edit" placeholder="Enseignant responsable">
            <datalist id="teach-list">
            {# <option>Russia</option> #}
            </datalist>
        </div>
    </div>
    
    <hr>
    Chargez votre fichier de notes&nbsp;<span class="icon-upload nav-icon-fa nav-text"></span><br><br>
    <div id="loader-block">
        <form action="/checkandloadmvo" method="post" enctype="multipart/form-data">
          Choisissez un fichier en .zip &nbsp;
          <input type="file" name="fileToUpload" id="fileToUpload"><br><br>

          <input type="submit" value="Uploader le fichier" name="submit" id="file-upl-loader-sub" class="btn btn-default btn-lg btn-print btn-block">
        </form>
    </div>
    <br>
    <span class="icon-exclamation-circle nav-icon-fa nav-text"></span>&nbsp;Taille maximale d'un fichier jpg : {{ jpg_limit }}ko<br>
    <hr>
    Le système ne reconnait que le fichier .jpg ou plusieurs .jpg dans un même zip. Un fichier zip doit contenir toutes les feuilles de notes d'un même examen.
  </div>
  <div class="col-lg-3 mgs-mainblk-txt">
  </div>
</div>

{% include 'RawTemplate/SPE/_footergraload.html.twig' %}