{% include 'RawTemplate/_hearder.html.twig' %}
{% include 'Dirty/dirtyjspdf.html.twig' %}

{% if result_mention_query is defined and result_mention_query is not null %}
  <script>

    let dataMentionToJsonArray = JSON.parse('{{ result_mention_query | json_encode | raw }}');
    let dataTeacherToJsonArray = JSON.parse('{{ result_teacher_query | json_encode | raw }}');
    let filteredTeacherList = new Array();


    // result_nivsemester_query result_title_per_niv_query result_class_per_subject_query result_nbr_of_stu_mod_query
    let dataNivSemesterToJsonArray = JSON.parse('{{ result_nivsemester_query | json_encode | raw }}');
    let dataTitlePerNivToJsonArray = JSON.parse('{{ result_title_per_niv_query | json_encode | raw }}');
    let dataClassPerSubjectToJsonArray = JSON.parse('{{ result_class_per_subject_query | json_encode | raw }}');
    let dataNbrOfStuModToJsonArray = JSON.parse('{{ result_nbr_of_stu_mod_query | json_encode | raw }}');

    let dataAllStuToJsonArray = JSON.parse('{{ result_allstu_query | json_encode | raw }}');

    let tempMention = '';
    let tempMentionCode = '';
    let tempClasse = '';
    let tempClasseID = 0; // <> CourseID !!!

    let tempNiveau = '';
    let tempNiveauID = 0;
    let tempSubject = '';
    let tempSubjectID = 0;

    let tempTeacherName = '';
    let tempTeacherId = 0;

    let tempPageNbr = 0;
    let tempCountStu = 0;

    let tempCredit = 0;
    let tempInvClass = 'na';
    let tempArrayClass = new Array();
    let maxLengthTable = 17;

    let initialPosition = '';

    let editMode = 'N';
    let pageLimit = {{ page_limit }};


    let currentPage = 1;

    const formatterDateFR = new Intl.DateTimeFormat('fr-FR');
    const SUB_TOKEN = '{{ result_get_token }}';


  </script>
{% else %}
    // Error
    <script>
      let dataMentionToJsonArray = "";
    </script>
{% endif %}



<div id="mg-graph-identifier">load-gra</div>

{% if validated is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-success alert-uac" role="alert">
          <span class="nav-text">Votre fichier CRA a bien été validé #{{ validated }}. Vous pouvez intégrer un autre CRA.</span>&nbsp;<span class="icon-check nav-icon-fa nav-text"></span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}
{% if nofile is defined %}
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7 alert alert-danger alert-uac" role="alert">
          <span class="icon-times-circle nav-icon-fa nav-text"></span>&nbsp;<span class="nav-text">Votre fichier n'a pas été reconnu.</span>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endif %}



{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ---------------------------------------------------------------  MAIN BANNER  ----------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
{# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
<div class="container">

    <div class="row btn-layer">
        <h1>Charger examen</h1>
        <div id="blk-selfie" class="mgs-mainblk-txt">
            <img id="loader-wait" src="{{ path('main') }}img/waiting.gif" style="width:500px; height:330px; opacity: 1;" title="cloud folder" alt="cloud folder" class="uac-img-center">
        </div>

        <div class="col-lg-12 load-gra-hdr info-cartouche">
            <div id="cartouche-edt">

                <div class="menu-dropdown">

                    <div class="dropdown btn-ace-menu tag-edit">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMention" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="drp-select" class="tag-color-edit">Mention</i>
                        </button>
                        <div id="dpmention-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        </div>
                    </div>

                    <div class="dropdown btn-ace-menu tag-edit">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownNiveau" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="selected-niv" class="tag-color-edit">Niveau</i>
                        </button>
                        <div id="dpniv-opt"  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Sélectionnez une mention</a>
                        </div>
                    </div>

                    <div class="dropdown btn-ace-menu tag-edit">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownSubject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="selected-subj" class="tag-color-edit">Matière</i>
                        </button>
                        <div id="dpsubj-opt" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Sélectionnez un niveau</a>
                        </div>
                    </div>

                    <div class="btn-ace-menu disp-class-qty">
                    <i class="icon-group-full nav-text"></i>&nbsp;<i id="sel-stu-qty">0</i>
                    </div>

                    <div class="btn-ace-menu disp-class-qty">
                    <i class="icon-files nav-text"></i>&nbsp;<i id="sel-pag-qty">0</i>
                    </div>

                    <div class="btn-ace-menu disp-class-qty">
                    <i class="icon-graduation-cap nav-text"></i>&nbsp;<i id="sel-credit-qty">0</i>
                    </div>
                    

                </div>
                <div id="disp-all-classes">

                </div>
                <div class="menu-dropdown">
                    <div class="btn-ace-menu disp-class-sm">
                        Date examen
                    </div>
                    <div class="dropdown btn-ace-menu tag-edit">
                        <input class="pickdate tag-color-edit" type="date" id='exam-day' placeholder="MM/DD/YYYY" />
                    </div>

                    <div id="teacher-blk-gra" class="menu-dropdown tag-edit">
                    <input id="teach-sel-gra" list="teach-list" class="tag-color-edit" placeholder="Enseignant responsable">
                        <datalist id="teach-list">
                        {#  <option>Russia</option>  #}
                        </datalist>
                    </div>
                    <div class="dropdown btn-ace-menu">
                        <button id="gra-gen-prs" onclick="printPresenceSheet()" class="btn btn-dark btn-md btn-blk-menu" disabled>Générer&nbsp;<i class="icon-files nav-text"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ---------------------------------------------------------------   MAIN PAGE   ----------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}
    {# ----------------------------------------------------------------------------------------------------------------------------------------------- #}


    <div id="main-gra" class="row mask-pg">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-6"><hr>
                Chargez votre fichier de notes&nbsp;<span class="icon-upload nav-icon-fa nav-text"></span><br><br>
                <div id="loader-block">
                    <form action="/checkandloadgra" method="post" enctype="multipart/form-data">
                    Choisissez un fichier en .zip &nbsp;
                    <input type="file" name="fileToUpload" id="fileToUpload"><br><br>

                    
                    <input type="text" class="input-gra" name="fPageNbr" id="fPageNbr" value="">
                    <input type="text" class="input-gra" name="fSubToken" id="fSubToken" value="">
                    <input type="text" class="input-gra" name="fMentionCode" id="fMentionCode" value="">

                    <input type="text" class="input-gra" name="fTeacherId" id="fTeacherId" value="">
                    <input type="text" class="input-gra" name="fCustTeacherName" id="fCustTeacherName" value="">
                    <input type="text" class="input-gra" name="fSubjectId" id="fSubjectId" value="">
                    <input type="text" class="input-gra" name="fExamDate" id="fExamDate" value="">
                    <input type="text" class="input-gra" name="fNiveau" id="fNiveau" value="">
                    <input type="text" class="input-gra" name="fSubject" id="fSubject" value="">
                    <input type="text" class="input-gra" name="fBrowser" id="fBrowser" value="">
                    

                    <input type="submit" value="Uploader le fichier" name="submit" id="file-upl-loader-gra" class="btn btn-default btn-lg btn-print btn-block">
                    </form>
                </div>
                <br>
                <span class="icon-exclamation-circle nav-icon-fa nav-text"></span>&nbsp;Taille maximale d'un fichier jpg dans le zip : {{ jpg_limit }}ko<br>
                <hr>
                Le système ne reconnait que le fichier .jpg ou plusieurs .jpg dans un même zip. Un fichier zip doit contenir toutes les pages de notes d'un même examen. S'il manque une page, le fichier zip ne sera pas reconnu.<br>
                Dans un même zip, les fichiers doivent être numérotés de _1.jpg à _n.jpg pour reconnaître les numéros de pages.
            </div>
            <div class="col-lg-3">
                
            </div>
    </div>

</div>


<div id="hid-img-blc">
    <img id="bg-tmpl" src="/img/fichePresenceExamen800.png">
</div>

{% include 'RawTemplate/SPE/_footergraload.html.twig' %}