{% include 'Dirty/dirtyjsbarcode.html.twig' %}
{% include 'Dirty/dirtyjspdf.html.twig' %}

{% include 'RawTemplate/_hearder.html.twig' %}
{# Handle here the files relatives to JS #}

{% if result_all_usrn is defined and result_all_usrn is not null %}
  <script>

    let dataAllUSRNToJsonArray = JSON.parse('{{ result_all_usrn | json_encode | raw }}');
    let dataAllREDUCToJsonArray = JSON.parse('{{ result_all_reduc | json_encode | raw }}');
    
    let myTicket = new Array();
    let myRecap = new Array();
    const getToken = '{{ result_get_token }}';

    let foundiInJson = 0;
    let foundUserName = '';
    let foundMatricule = '';
    let foundName = '';
    let foundClasse = '';
    let foundUserId = 0;
    let foundExisting_Facilite = '';
    let lblDate = '';

    const paddChar = '.';
    const maxLgTicket = 45;
    const maxLgRecap = 38;
    const sizeTime = 12;
    const sepTime = ' ';

    let ticketRef = '';
    let ticketRefToDelete = '';
    let ticketRefPayment = '';
    let ticketRefFile = '';
    let ticketType = 'X';
    let redPc = 0;
    const msgFooterRedPdt = 'DATE, SIGNATURE ET CACHET PDT';
    const msgFooterRedDaf = 'DATE, SIGNATURE ET CACHET DAF';
    const msgFooterLOC = 'DATE, SIGNATURE ETUDIANT/PARENT';
    const MSG_FOOTER_CSCO = "DATE, SIGNATURE ET CACHET";

    const maxPrintTicket = sizeTime - 3;
    const maxPadLeft = 5;


    let dataPaymentForUserJsonArray = new Array();
    let dataLeftOperationForUserJsonArray = new Array();
    let payUniLeftOperationForUserJsonArray = new Array();
    let dataSumPerTranche = new Array();


    const MIN_AMOUNT = 1000;
    const INVALID_AMOUNT = 'invalide';
    const LATE_FLATICON = '&nbsp;<i class="icon-clock-o nav-text"></i>';

    let invAmountToPay = 0;
    let maxManualAmount = 0;
    // This will be used to define which fisc ID is involved
    let invFscId = 0;
    // C for Cash and H for Check
    let invTypeOfPayment = 'C';
    // F for Facilite or P for Payment
    let invOperation = 'F';

    const TYPE_OF_PAYMENT_CODE_ARRAY = ["h", "c", "t", "m"];
    const TYPE_OF_PAYMENT_LBL_ARRAY = ["CHEQUE", "CASH", "VIRM/TPE", "MVOLA"];

    // If we are Reduction (R) or Payment (P)
    let currentTicketMode = 'P';

    // Create our number formatter.
    const formatterCurrency = new Intl.NumberFormat('fr-FR', {
      style: 'currency',
      currency: 'MGA',

      // These options are needed to round to whole numbers if that's what you want.
      //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
      //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
    });
    const formatterDateFR = new Intl.DateTimeFormat('fr-FR');


  </script>
{% else %}
    // Error
    <script>
      let dataAllUSRNToJsonArray = "";
    </script>
{% endif %}

<div id="mg-graph-identifier">add-pay</div>

{# Message up #}

<div class="row">
  <div class="col-lg-4 mgs-mainblk-txt blk-ticket-left">
    <img id="waiting-gif" src="{{ path('main') }}img/waiting-1.gif" style="width:120px; height:90px; opacity: 1;" title="Patientez" alt="Patientez" class="uac-img-center img-profile">
    <br>

    <div id="pay-recap" class="blk-recap-pay">
      Historique&nbsp;<i class="icon-arrow-down nav-text"></i>
      <div id="pay-recap-tra" class="pay-sc-log-tra-txt">

      </div>
    </div>

  </div>
  <div class="col-lg-4 mgs-mainblk-txt ua-scan-mn">


    <div class="carte-profile ace-xs">
      {{ firstname }}&nbsp;{{ lastname }}/<i id="load-username">{{ amiconnected }}</i>/<i id="load-userid">{{ id }}</i> <br>
    </div>
    <div class="carte-profile ace-sm">
      <span class="icon-person nav-icon-fa nav-text"></span>&nbsp;<i id="last-read-bc" class="mgs-addpay-lg"></i><br>
      <i id="last-read-time"></i>

    </div>
    <hr>

    <div>
        <input class="form-control mgs-readacebc" rows="1" id="addpay-ace" name="inputUserName" placeholder="Scannez username ou réduction">
    </div>
    <div class="btn-profil mid-blc">
      <div id="addp-mainop" class="pay-big-blk">
            <div id="btn-adduni" class="red-big-btn pay-big-btn-txt pay-big-btn-1 init-deactive deactive-btn">
              <br>Payer<br>frais fixe &nbsp;<i class="icon-page-multiple nav-text"></i><br>
            </div>
            <div id="btn-addpay" class="red-big-btn pay-big-btn-txt pay-big-btn-1 init-deactive deactive-btn">
              <br>Payer une<br>tranche &nbsp;<i class="icon-pie-chart nav-text"></i><br>
            </div>
            <div id="btn-addcut" class="red-big-btn pay-big-btn-txt red-opt-btn-1 init-deactive deactive-btn">
              <br>Générer une<br>facilité &nbsp;<i class="icon-scissors nav-text"></i><br>
            </div>
            <div id="btn-addcut-com" class="red-big-btn pay-big-btn-txt red-opt-btn-com init-deactive deactive-btn">
              <br>Lettre<br>d'engagement &nbsp;<i class="icon-file-1 nav-text"></i><br>
            </div>
            <div id="btn-cert-sco" class="red-big-btn pay-big-btn-txt red-opt-btn-com">
              <br>Certificat<br>de scolarité &nbsp;<i class="icon-graduation-cap nav-text"></i><br>
              <i class="med-btn-txt btn-amt-col"><i id="cert-sco-am">AMTC AR</i></i>
            </div>
            <div class="red-big-btn pay-big-btn-txt">
              <br><br><br>
            </div>
      </div>

      {# Cut box #}
      <div id="addp-red-option" class="pay-big-blk">
            <div id="btn-addcut-1" class="red-big-btn pay-opt-btn-txt red-opt-btn-2 pay-fac-rm">
              <br>Réduction<br>10%<br>
            </div>
            <div id="btn-addcut-2" class="red-big-btn pay-opt-btn-txt red-opt-btn-2 pay-fac-rm">
              <br>Réduction<br>20%<br>
            </div>
            <div id="btn-addcut-3" class="red-big-btn pay-opt-btn-txt red-opt-btn-2 pay-fac-rm">
              <br>Réduction<br>50%<br>
            </div>
            <div id="btn-addcut-4" class="red-big-btn pay-opt-btn-txt red-opt-btn-1 pay-fac-rm">
              <br>Réduction<br>100%<br>
            </div>
            {#
            <div id="btn-addfac-1" class="red-big-btn pay-opt-btn-txt fac-opt-btn-1">
              <br>Autorisation<br>mensualisation<br>
            </div>
            <div class="red-big-btn pay-opt-btn-txt">
              <br><br><br>
            </div>
             #}
      </div>

      {# Payment Part box #}
      <div id="addp-pay-part" class="pay-big-blk">
            <div id="btn-part-1-3" class="pay-big-btn pay-part-btn-txt pay-opt-btn-t-a pay-fac-rm init-deactive deactive-btn">
              <br><i id="id-part-1-3">AM1/3</i><br>
              Tranche&nbsp;<i id="lbl-part-1-3">T1</i><br>
            </div>
            <div id="btn-part-2-3" class="pay-big-btn pay-part-btn-txt pay-opt-btn-t-a pay-fac-rm init-deactive deactive-btn">
              <br><i id="id-part-2-3">AM2/3</i><br>
              Tranche&nbsp;<i id="lbl-part-2-3">T2</i><br>
            </div>
            <div id="btn-part-3-3" class="pay-big-btn pay-part-btn-txt pay-opt-btn-t-a pay-fac-rm init-deactive deactive-btn">
              <br><i id="id-part-3-3">AM3/3</i><br>
              Tranche&nbsp;<i id="lbl-part-3-3">T3</i><br>
            </div>

            {# Manual part #}

            <div id="btn-part-man" class="pay-man-btn pay-part-btn-txt">
                <div class="amo-note">
                  Montant :&nbsp;<i id="id-amo-note"></i>
                </div>
                <input class="form-control mgs-amount" rows="1" id="addman-amo" name="inputManualName" placeholder="min. 1000 AR">
            </div>

            <div id="btn-part-man-subm" class="pay-man-btn-subm pay-fac-rm">
              Valider
            </div>
      </div>
      {# Payment Unique box #}
      <div id="addp-pay-uni" class="pay-big-blk">
            <div id="btn-uni-1" class="red-big-btn pay-part-btn-txt pay-opt-btn-t-a pay-fac-rm init-deactive deactive-btn">
              <br><i id="id-uni-1">UNI1</i><br>
              <i id="lbl-uni-1">U1</i><br>
            </div>
            <div id="btn-uni-2" class="red-big-btn pay-part-btn-txt pay-opt-btn-t-a pay-fac-rm init-deactive deactive-btn">
              <br><i id="id-uni-2">UNI2</i><br>
              <i id="lbl-uni-2">U2</i><br>
            </div>
            <div id="btn-uni-3" class="red-big-btn pay-part-btn-txt pay-opt-btn-t-a pay-fac-rm init-deactive deactive-btn">
              <br><i id="id-uni-3">UNI3</i><br>
              <i id="lbl-uni-3">U3</i><br>
            </div>
            <div id="btn-uni-left" class="red-big-btn pay-part-btn-txt pay-big-btn-1 pay-fac-rm">
              <br><i id="id-uni-left">UNI4</i><br>
              Totalité restante<br>
            </div>

      </div>


      
      <div id="addp-print" class="pay-big-blk">
            <button id="btn-print-addpay" class="btn btn-default btn-lg btn-block btn-print">Valider & imprimer reçu &nbsp;<i class="icon-print nav-text"></i></button>
      </div>

      {# Payment Unique box #}
      <div id="addp-type-pay" class="pay-big-blk">
            <div id="btn-type-h" class="type-big-btn pay-opt-btn-txt pay-type-btn-t-h">
              <br>CHÈQUE&nbsp;
              <i class="icon-pencil-square-o nav-text"></i><br>
            </div>
            <div id="btn-type-c" class="type-big-btn pay-opt-btn-txt pay-type-btn-t-c">
              <br>CASH&nbsp;
              <i class="icon-cash nav-text"></i><br>
            </div>
            <div id="btn-type-t" class="type-med-btn pay-part-btn-txt pay-type-btn-t-v">
              <br>VIREMENT/TPE&nbsp;
              <i class="icon-credit-card nav-text"></i><br>
            </div>
            <div id="btn-type-m" class="type-med-btn pay-part-btn-txt pay-type-btn-t-v">
              <br>MVOLA&nbsp;
              <i class="icon-mobile nav-text"></i><br>
            </div>

      </div>

      {# Validation Reduction box #}
      <div id="addp-valred" class="pay-big-blk">
            <div id="used-red" class="msg-center-notif">
              Ce ticket de réduction a déjà été utilisé ou a été supprimé
            </div>
            <div class="type-big-btn pay-opt-btn-txt">
            </div>
            <div id="btn-red-val" class="type-big-btn pay-opt-btn-txt pay-type-btn-t-c">
              <br>Valider&nbsp;
              <i class="icon-check-square nav-text"></i><br>
              <i class="sm-btn-txt">Vérifier signature et tampon</i>
            </div>
            <div id="btn-red-can" class="type-sma-btn pay-big-btn-txt pay-type-btn-t-v">
              <br>Supprimer&nbsp;
              <i class="icon-minus-square nav-text"></i><br>
            </div>
            <div class="type-sma-btn">
            </div>
      </div>

      {# Cancel Payment box #}
      <div id="addp-canpay" class="pay-big-blk">
            <div class="type-big-btn pay-opt-btn-txt">
            </div>
            <div id="btn-can-pay" class="type-big-btn pay-opt-btn-txt pay-type-btn-t-v">
              <br>Annuler tous<br>les paiements liés<br>à cette référence&nbsp;
              <i class="icon-times nav-text"></i><br>
              <i class="sm-btn-txt">Vérifier le ticket à droite</i>
            </div>
            <br><br><br>
            <div id="can-pay" class="mgs-note">
              <i class="icon-info-circle nav-text"></i>&nbsp;Les paiements supprimés ne sont plus comptabilisés mais continuent à être visibles dans le dashboard étudiant.
            </div>
      </div>


      {# Bottom Operation #}
      <div class="btn-ace-right">
        <button id="btn-print-recap" class="btn btn-outline-secondary btn-md histo-btn-print">Imprimer historique &nbsp;<i class="icon-print nav-text"></i></button>
        <button id="btn-clear-addpay" class="btn btn-outline-secondary btn-md btn-print">Annuler &nbsp;<i class="icon-android-cancel nav-text"></i></button>

      </div>
      <hr>
      

    </div>

    <div id="valid-code-read">
    </div>
    <div id="exist-code-read" class="raw-element">
    </div>

  </div>
  <div class="col-lg-4 mgs-mainblk-txt">

    <div id="pay-sc-log" class="blk-log-pay">
      <i class="icon-arrow-down nav-text"></i>&nbsp;Ticket&nbsp;<i id="sh-ticketref"></i>
      <div id="pay-sc-log-tra" class="pay-sc-log-tra-txt">
      </div>
    </div>
  </div>
</div>


<img id="logo-carte" src="{{ path('main') }}img/logotext_black600x200.png" style="width:620px; height: 200px; opacity: 1;" class="img-carte" >
<div class="barcode-not-seen">
  <img id="barcode"/>
</div>

<i id="id-rawpayamt-1-3" class="raw-element"></i>
<i id="id-rawpayamt-3-3" class="raw-element"></i>
<i id="id-rawpayamt-2-3" class="raw-element"></i>

<i id="id-fscid-1-3" class="raw-element"></i>
<i id="id-fscid-3-3" class="raw-element"></i>
<i id="id-fscid-2-3" class="raw-element"></i>

<i id="id-rawuniamt-1" class="raw-element"></i>
<i id="id-rawuniamt-3" class="raw-element"></i>
<i id="id-rawuniamt-2" class="raw-element"></i>

<i id="id-fscuni-1" class="raw-element"></i>
<i id="id-fscuni-3" class="raw-element"></i>
<i id="id-fscuni-2" class="raw-element"></i>



{% include 'RawTemplate/SPE/_footerpay.html.twig' %}
