{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% include 'Dirty/dirtyjspdf.html.twig' %}

{% if result_concat_mvola is defined and result_concat_mvola is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataConcatMvolaJsonArray =JSON.parse('{{ result_concat_mvola | json_encode | raw }}');
    // Create our number formatter.
    const formatterCurrency = new Intl.NumberFormat('fr-FR', {
      style: 'currency',
      currency: 'MGA'
    });
    const SOLDE_MVOLA = "{{ get_solde_mvola }}";


    const paddChar = '.';
    const maxLgTicket = 45;
    const maxLgRecap = 18;
    const maxPadLeft = 7;

    let cobCashOfTheDay = 0;
    let cobCheqOfTheDay = 0;
    let cobVirmTpeOfTheDay = 0;
    let cobReductionOfTheDay = 0;
    let cobTotalOfTheDay = 0;

    let cobNbrCheqOfTheDay = 0;

    let cobArray = new Array();


    let cobBenefitOfTheYear = 0;
    let cobReductionOfTheYear = 0;

    let cobSoldeMvola = 0;

    let mvolaArray = new Array();

  </script>
{% else %}
    <script>
      let dataConcatMvolaJsonArray = "";
    </script>
{% endif %}


{% if result_count_tranche_one is defined and result_count_tranche_one is not null %}
  <script>
    let dataCountTrancheOneJsonArray =JSON.parse('{{ result_count_tranche_one | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataCountTrancheOneJsonArray = "";
    </script>
{% endif %}
{% if result_count_tranche_two is defined and result_count_tranche_two is not null %}
  <script>
    let dataCountTrancheTwoJsonArray =JSON.parse('{{ result_count_tranche_two | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataCountTrancheTwoJsonArray = "";
    </script>
{% endif %}
{% if result_count_tranche_three is defined and result_count_tranche_three is not null %}
  <script>
    let dataCountTrancheThreeJsonArray =JSON.parse('{{ result_count_tranche_three | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataCountTrancheThreeJsonArray = "";
    </script>
{% endif %}


{% if result_count_tranche_grid is defined and result_count_tranche_grid is not null %}
  <script>
    let dataCountTrancheGridJsonArray =JSON.parse('{{ result_count_tranche_grid | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataCountTrancheGridJsonArray = "";
    </script>
{% endif %}

{% if result_today_pv is defined and result_today_pv is not null %}
  <script>
    let dataTodayPVJsonArray =JSON.parse('{{ result_today_pv | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataTodayPVJsonArray = new Array();
    </script>
{% endif %}

{% if result_today_nbr_check_pv is defined and result_today_nbr_check_pv is not null %}
  <script>
    let dataTodayNbrCheckPVJsonArray =JSON.parse('{{ result_today_nbr_check_pv | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataTodayNbrCheckPVJsonArray = new Array();
    </script>
{% endif %}

{% if result_rep_year_recap is defined and result_rep_year_recap is not null %}
  <script>
    let dataYearRecapJsonArray =JSON.parse('{{ result_rep_year_recap | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataYearRecapJsonArray = new Array();
    </script>
{% endif %}

{% if result_rep_all_red is defined and result_rep_all_red is not null %}
  <script>
    let dataRepAllReductionJsonArray =JSON.parse('{{ result_rep_all_red | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataRepAllReductionJsonArray = new Array();
    </script>
{% endif %}

{% if result_rep_all_tranche is defined and result_rep_all_tranche is not null %}
  <script>
    let dataRepAllTrancheJsonArray =JSON.parse('{{ result_rep_all_tranche | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataRepAllTrancheJsonArray = new Array();
    </script>
{% endif %}

{% if result_rep_rec_journee is defined and result_rep_rec_journee is not null %}
  <script>
    let dataRepRecetteJourneeJsonArray =JSON.parse('{{ result_rep_rec_journee | json_encode | raw }}');
  </script>
{% else %}
    <script>
      let dataRepRecetteJourneeJsonArray = new Array();
    </script>
{% endif %}


<div id="mg-graph-identifier">dash-pay</div>

{# Message here if necessary #}
<br>
<div class="row report-banner">
  <div class="col-1">
  </div>
  <div class="col-10">
    <button type="button"  onclick="generateAllReductionCSV()" class="btn btn-dark btn-md"><i class="icon-file-text-o"></i>&nbsp;Réduction</button>
    &nbsp;<button type="button" onclick="generateAllTrancheCSV()" class="btn btn-dark btn-md"><i class="icon-file-text-o"></i>&nbsp;Tranche</button>
    &nbsp;<button type="button" onclick="generateRecetteJourneeCSV()" class="btn btn-dark btn-md"><i class="icon-file-text-o"></i>&nbsp;Recette journée</button>
    &nbsp;<button type="button" onclick="printCloseOfBusinessPDF('MVOLAXX', mvolaArray)" class="btn btn-outline-dark btn-md"><i class="icon-invoice"></i>&nbsp;Mvola</button>
    &nbsp;<button type="button" onclick="printCloseOfBusinessPDF('CLOTURE', cobArray)" class="btn btn-outline-dark btn-md"><i class="icon-invoice"></i>&nbsp;Clôture journée</button>
  </div>
  <div class="col-1">
  </div>
</div>

<div class="row split-box">
  <div class="col-1">
  </div>
  <div class="col-4 hd-1-pv">
  Aujourd'hui :
  </div>
  <div class="col-2 cell-1-pv">
    Recette sur l'année :<br>
    Réduction sur l'année :<br>
    Réduction aujourd'hui :<br>
    Compte courant Mvola :<br>
  </div>
  <div class="col-1 cell-1-pv">
    <i id="disp-py-ben">na</i><br>
    <i id="disp-py-red">na</i><br>
    <i id="disp-pv-red" class="line-pv-res">na</i><br>
    <i id="disp-pv-smv">na</i><br>
  </div>
  <div class="col-2 cell-1-pv">
    Cash :<br>
    <i id="disp-pv-nbr-chq">0</i>&nbsp;Chèque<i id="orth-pv-nbr-chq"></i> :<br>
    Transfert/TPE :<br>
    <strong>Total :</strong><br>
  </div>
  <div class="col-1 cell-1-pv">
    <i id="disp-pv-csh" class="line-pv-res">na</i><br>
    <i id="disp-pv-chq" class="line-pv-res">na</i><br>
    <i id="disp-pv-ttp" class="line-pv-res">na</i><br>
    <i id="disp-pv-tot" class="line-pv-res">na</i><br>
  </div>
  <div class="col-1">
  </div>
</div>

<div class="row cell-bd-li">
    <div class="col-1">
    </div>
    <div class="col-6">
        <h2>Tranche</h2>
        <hr>
        <div id="jsGridTranche">
        </div>
    </div>
    <div class="col-4">
        <h2>Mvola</h2>
        <hr>
        <div id="jsGridMvola">
        </div>
        <br><div class="mgs-note"><strong>Dernier chargement Mvola : </strong>{{ result_last_mvola[0]['LAST_DATE'] }} à {{ result_last_mvola[0]['LAST_TIME'] }}</div>
    </div>
    <div class="col-1">
    </div>
</div>
<br><br>


<div class="row count-tranche">
  <div class="col-4">
    <h2>Tranche 1 : a déjà payé</h2>
    <hr>
    <canvas id="trancheOne"></canvas>
  </div>
  <div class="col-4">
    <h2>Tranche 2 : a déjà payé</h2>
    <hr>
    <canvas id="trancheTwo"></canvas>
  </div>
  <div class="col-4">
    <h2>Tranche 3 : a déjà payé</h2>
    <hr>
    <canvas id="trancheThree"></canvas>
  </div>
</div>
<img id="logo-carte" src="{{ path('main') }}img/logotext_black600x200.png" style="width:620px; height: 200px; opacity: 1;" class="img-carte" >
{#
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-5">
    <h2>Réduction XXX</h2>
    <hr>
    <canvas id="statPieLate"></canvas>
  </div>
  <div class="col-5">
    <h2>Lorem Ipsum</h2>
    <hr>
    <canvas id="statBarNoExit"></canvas>
    <br><div class="mgs-note"><strong>Note</strong> xxx </div>
  </div>
  <div class="col-1">
  </div>
</div>
#}


{% include 'RawTemplate/SPE/_footer.dashpay.w.jsgrid.mgchart.html.twig' %}
