{% include 'RawTemplate/_hearder.w.jsgrid.html.twig' %}
{% if all_mvo is defined and all_mvo is not null %}
  <script>
    //let dataTagToJson = '<%= @resultSet.map{|o| Hash[o.each_pair.to_a] }.to_json %>';

    let dataAllMVOToJsonArray = JSON.parse('{{ all_mvo | json_encode | raw }}');
    // We init here the filter value
	  let filteredDataAllMVOToJsonArray = Array.from(dataAllMVOToJsonArray);
    // Create our number formatter.
    const formatterCurrency = new Intl.NumberFormat('fr-FR', {
      style: 'currency',
      currency: 'MGA'

      // These options are needed to round to whole numbers if that's what you want.
      //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
      //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
    });
    // Control for attribution
    let dataAllUSRNToJsonArray = JSON.parse('{{ result_all_usrn | json_encode | raw }}');
    const getToken = '{{ result_get_token }}';

    const CURRENT_AGENT_ID_STR = '{{ id }}';


    // DISCOUNT
    let dataAllDispDiscountToJsonArray = JSON.parse('{{ result_alldisplay_discount_query | json_encode | raw }}');
    let dataAllSetUpDiscountToJsonArray = JSON.parse('{{ result_allsetup_discount_query | json_encode | raw }}');
    let dataAllFixedFaresToJsonArray = JSON.parse('{{ result_allfixed_fares_query | json_encode | raw }}');
    
    let invMVOAmountNUD = 0;
    // case can be N: Normal, A: Ancien, T: Transfert, 0: nothing
    let invCaseOperation = '0';
    // dataTagToJson = dataTagToJson.replace(/&quot;/g,"\"");
    // let dataTagToJsonArray = JSON.parse(dataTagToJson);
  </script>
{% else %}
    // Error
    <script>
      let dataAllMVOToJsonArray = "";
    </script>
{% endif %}


<div id="mg-graph-identifier">man-mvo</div>

<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <h1>Manager Mvola</h1>
    <hr>
    <div class="mgs-note-banner">Nombre de mvola : <i id='mst-filcnt'>{{ all_mvo|length }}</i> sur {{ all_mvo|length }}</div>
  </div>
  <div class="col-1">
  </div>
</div>
<div class="row dash-bar">
  <div class="col-1">
  </div>

  <div class="col-2 fil-el">
    <textarea class="form-control" rows="1" id="filter-all-mvo" placeholder="Filtrez min. 2 caractères" style="resize: none;"></textarea>
  </div>
  <div class="col-1 fil-el">
    <button id="re-init-dash-mvo" type="button" class="btn btn-md btn-block btn-default">
      <i class="icon-refresh"></i>
    </button>
  </div>
  <div class="col-1">
    
    <button onclick="generateAllMvolaCSV()" class="btn btn-dark"><i class="icon-file-text-o"></i>&nbsp;Rapport</button>
    
  </div>
  <div class="col-3">

  </div>


  <div class="col-3">
  </div>

  <div class="col-1">
  </div>
</div>
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div id="jsGridAllMVO">
    </div>
  </div>
  <div class="col-1">
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mvo-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Référence:&nbsp;</strong><i id='title-mvo-details'></i>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class='popup-box-details'>
            <i class="icon-mvola"></i>&nbsp;Détails Mvola
            <br><br>
            <div id='mvo-details-txt'>
            </div>
            <div id='assign-mvo'>
            <hr>
                <div class='pop-up-title'><i class="icon-map-signs"></i>&nbsp;Attribuer ce paiement à un étudiant</div>
                <i class="recap-mis"><span class="icon-exclamation-triangle nav-icon-fa nav-text"></span></i>&nbsp;Confirmez bien les informations en bleu avant d'attribuer le Mvola. Rappelez à l'étudiant que des frais additionnels Mvola [<i id="frais-mvola-disp"></i>] vont être prélevés automatiquement.<br>
                <br>
                <div id="warn-pay-msg" class="blue-txt">
                </div>
                <br>
                <span class="icon-person nav-icon-fa nav-text"></span>&nbsp;<i id="last-read-bc" class="mgs-addpay-lg"></i><br>
                
                <div id='scan-mvo-input'>
                    <input class="form-control mgs-readacebc" rows="1" id="addpay-ace" name="inputUserName" placeholder="Scannez username">
                </div>
                <div id='scan-mvo-btn'>
                    <div id="att-case-pan" class="pay-big-blk">
                          <div id="warn-partial-dic" class="mgs-note">
                              
                          </div>
                          <div id="btn-case-1" class="drt-big-btn pay-md-btn-txt drt-opt-btn-std init-deactive drt-shortcut">
                            <br>Droits<br>nouveau &nbsp;<i class="icon-suitcase nav-text"></i><br>
                            <i class="med-btn-txt btn-amt-col">(<i id="disc-case-n">AMTC AR</i>)</i><br>
                            <i class="med-btn-txt btn-left-amt-col">Reste: <i id="disc-left-case-n">AMTC AR</i></i>
                          </div>
                          <div id="btn-case-2" class="drt-big-btn pay-md-btn-txt drt-opt-btn-exp init-deactive drt-shortcut">
                            <br>Droits exemption<br>ancien &nbsp;<i class="icon-android-list nav-text"></i><br>
                            <i class="med-btn-txt btn-amt-col">(<i id="disc-case-a">AMTC AR</i>)</i><br>
                            <i class="med-btn-txt btn-left-amt-col">Reste: <i id="disc-left-case-a">AMTC AR</i></i>
                          </div>
                          <div id="btn-case-3" class="drt-big-btn pay-md-btn-txt drt-opt-btn-exp init-deactive drt-shortcut">
                            <br>Droits exemption<br>transfert &nbsp;<i class="icon-map-signs nav-text"></i><br>
                            <i class="med-btn-txt btn-amt-col">(<i id="disc-case-t">AMTC AR</i>)</i><br>
                            <i class="med-btn-txt btn-left-amt-col">Reste: <i id="disc-left-case-t">AMTC AR</i></i>
                          </div>
                    </div>
                    <button id='btn-attmvo' class="btn btn-lg btn-default btn-block">Attribuer à <i id='ctrl-name'></i></button>
                    <button onclick="resetMvoAttribuer()" id='btn-canattmvo' class="btn btn-md btn-outline-dark btn-block">Annuler</button>
                </div>
            </div>
            <hr>
            <i class="icon-files"></i>&nbsp;Détails Fichier
            <br><br>
            <div id='mvo-file-txt'>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<i id="fnd-usrn" class="raw-element"></i>
<i id="fnd-mvoid" class="raw-element"></i>

{% include 'RawTemplate/SPE/_footer.w.paybasic.jsgrid.mgchart.html.twig' %}
