
<br><br><br><br>
</div> <!-- Wrapper -->


{% include 'RawTemplate/_rawfooter.html.twig' %}


</body>
<script src="{{ path('main') }}js/jquery-3.5.1.min.js"></script>
<script src="{{ path('main') }}js/bootstrap.bundle.min.js"></script>
<script src="{{ path('main') }}js/jquery-ui.min.js"></script>

<!-- Custom JS minimized -->
<script src="{{ path('main') }}js/all.min.js"></script>
<!-- This one cannot be minimized -->
<script src="{{ path('main') }}js/mgappunminimize.js"></script>

{% if app_environment == 'dev' %}
        <script src="{{ path('main') }}js/acestu.js"></script>
{% else %}
        <script src="{{ path('main') }}js/acestu.min.js"></script>
{% endif %}

{% if app_environment == 'dev' %}
        <script src="{{ path('main') }}js/aceass.js"></script>
{% else %}
        {# ################################################### #}
        {# ################################################### #}
        {# ################################################### #}
        {# ################################################### #}
        {# ### Dont forget to put the min here after debug ### #}
        {# ################################################### #}
        {# ################################################### #}
        {# ################################################### #}
        <script src="{{ path('main') }}js/aceass.min.js"></script>
{% endif %}


</html>
