
<br><br><br><br>
</div> <!-- Wrapper -->


<footer>


  <div class="row mgs-footer">
    <div class="col-lg-6 mgs-footer-inbox-left">
      <a href="https://fr.linkedin.com/"><span class="icon-linkedin-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.facebook.com/aceemgroupe/"><span class="icon-facebook-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.twitter.com/aceemgroupe/"><span class="icon-twitter-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.youtube.com/channel/UCRGuznDvrEYcZWLJ525Q9iQ"><span class="icon-youtube-square nav-icon-fa nav-text"></a></span>&nbsp
      <a href="https://www.instagram.com/aceemgroupe/"><span class="icon-instagram nav-icon-fa nav-text"></a></span>&nbsp
      Vita gasy with <i class="fas fa-heart"></i>
    </div>
    <div class="col-lg-6 mgs-footer-inbox-right">
      <span class="icon-rova5 footer-icon-fa nav-text"></span> Université ACEEM, <a href="/mentionslegales">tous droits réservés</a>
    </div>
  </div>
</footer>


</body>
<script src="{{ path('main') }}js/jquery-3.5.1.min.js"></script>
<script src="{{ path('main') }}js/bootstrap.bundle.min.js"></script>
<script src="{{ path('main') }}js/jquery-ui.min.js"></script>


<script src="{{ path('main') }}js/jsgrid.min.js"></script>
<!-- Custom JS minimized -->
<script src="{{ path('main') }}js/all.min.js"></script>
<!-- This one cannot be minimized -->
<script src="{{ path('main') }}js/mgappunminimize.js"></script>

{% if app_environment == 'dev' %}
        <script src="{{ path('main') }}js/acestu.js"></script>
{% else %}
        <script src="{{ path('main') }}js/acestu.min.js"></script>
{% endif %}

{% if app_environment == 'dev' %}
        <script src="{{ path('main') }}js/aceass.js"></script>
{% else %}
        <script src="{{ path('main') }}js/aceass.min.js"></script>
{% endif %}

</html>
