<!DOCTYPE html>
<html>
<head>
  <title>UACEEM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" type="image/png" href="{{ path('main') }}img/logo32x32.jpg">

  <link rel="stylesheet" href="{{ path('main') }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ path('main') }}css/all.min.css">
  {# Need to handle the app_environment #}
  {% if app_environment == 'dev' %}

          <link rel="stylesheet" href="{{ path('main') }}css/mgapp.css">
          <link rel="stylesheet" href="{{ path('main') }}css/manja.css">
  {% else %}
          <link rel="stylesheet" href="{{ path('main') }}css/mgapp.min.css">
          <link rel="stylesheet" href="{{ path('main') }}css/manja.min.css">
  {% endif %}

  <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
  </style>


      <!-- Renders a link tag (if your module requires any CSS)
           <link rel="stylesheet" href="/build/app.css"> -->
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1267106790877683',
      xfbml      : true,
      version    : 'v16.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% include 'RawTemplate/_navbar.html.twig' %}

<div class="wrapper">
